@model Domain.Entity.GrilleEvaluationEnqueteAuto
@{
    Layout = "~/Views/Shared/_Layout_Qualite.cshtml";
}

@section test{

    <!-- Basic layout-->


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="panel panel-flat">
                <div class="panel-heading">

                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @{
                            List<SelectListItem> list1 = new List<SelectListItem>();
                            list1.Add(new SelectListItem { Text = "OK", Value = "5" });
                            list1.Add(new SelectListItem { Text = "KO", Value = "0" });
                            list1.Add(new SelectListItem { Text = "AA", Value = "2,5" });
                            list1.Add(new SelectListItem { Text = "NE", Value = "-5" });

                            List<SelectListItem> list2 = new List<SelectListItem>();
                            list2.Add(new SelectListItem { Text = "OK", Value = "15" });
                            list2.Add(new SelectListItem { Text = "KO", Value = "0" });
                            list2.Add(new SelectListItem { Text = "AA", Value = "7,5" });
                            list2.Add(new SelectListItem { Text = "NE", Value = "-15" });

                            List<SelectListItem> list3 = new List<SelectListItem>();
                            list3.Add(new SelectListItem { Text = "OK", Value = "10" });
                            list3.Add(new SelectListItem { Text = "KO", Value = "0" });
                            list3.Add(new SelectListItem { Text = "AA", Value = "5" });
                            list3.Add(new SelectListItem { Text = "NE", Value = "-10" });

                            List<SelectListItem> list4 = new List<SelectListItem>();
                            list4.Add(new SelectListItem { Text = "OK", Value = "3" });
                            list4.Add(new SelectListItem { Text = "KO", Value = "0" });
                            list4.Add(new SelectListItem { Text = "AA", Value = "1,5" });
                            list4.Add(new SelectListItem { Text = "NE", Value = "-3" });
                        }
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-2" style="font-weight: bold;">Date d'évaluation: </label>
                                    <div class="input-group col-md-10">
                                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                        @Html.EditorFor(model => model.dateTempEvaluation, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.dateTempEvaluation, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group" hidden>
                                    <label class="col-md-2" style="font-weight: bold;">Nom Agent: </label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.employeeId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.employeeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-2" style="font-weight: bold;">Nom Enregistrement: </label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.enregistrementFullName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.enregistrementFullName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group" hidden>
                                    <label class="col-md-2" style="font-weight: bold;">Score: </label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight: bold;">Prise de contact et présentation de l'objet de l'appel:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.presentationIdentification, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.DropDownListFor(model => model.presentation, list1, @Model.presentation)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Respect du script d’appel:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.objetAppel, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.DropDownListFor(model => model.respectScript, list2, @Model.respectScript)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Traitement des objections:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.validationNature, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.validationNature, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.traitementObjections, list1, @Model.traitementObjections)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Exploitation des outils:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.calendrier, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.calendrier, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.exploitationOutils, list1, @Model.exploitationOutils)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Historisation sur les outils à disposition:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.envergure, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.envergure, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.HistorisationOutils, list2, @Model.HistorisationOutils)
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Discours et Maitrise du Français:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.complétudeQuestions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.complétudeQuestions, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.discours, list3, @Model.discours)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Débit:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.confirmationIntervenants, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.confirmationIntervenants, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.debit, list4, @Model.debit)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Intonation:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.enchainementQuestions, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.enchainementQuestions, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.intonation, list4, @Model.intonation)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Ecoute active et reformulation:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.traitementObjections, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.traitementObjections, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.ecouteReformulation, list1, @Model.ecouteReformulation)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Prise de congé:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.reformulation, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.reformulation, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.priseConge, list1, @Model.priseConge)

                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="form-group">
                            <label style="font-weight:bold;">Commentaire Responsable Qualité:</label>
                            <div class="input-group col-md-12">
                                @Html.EditorFor(model => model.commentaireQualite, new { htmlAttributes = new { @class = "form-control", @placeholder = "Message récue de la part du responsable qualité", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.commentaireQualite, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="font-weight:bold;">Votre réponse:</label>
                            <div class="input-group col-md-12">
                                @Html.EditorFor(model => model.commentaireAgent, new { htmlAttributes = new { @class = "form-control", @placeholder = "Entrer votre réponse", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.commentaireAgent, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" hidden>
                            @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.type, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" hidden>
                            @Html.LabelFor(model => model.enregistrementUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.enregistrementUrl, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.enregistrementUrl, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" hidden>
                            @Html.LabelFor(model => model.enregistrementDirectory, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.enregistrementDirectory, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.enregistrementDirectory, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" hidden>
                            @Html.LabelFor(model => model.senderId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.senderId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.senderId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <center>
                            <div class="form-group">
                                <div class="text-lg-center">
                                    @*<button type="submit" value="Save" class="btn btn-primary">Sauvegarder <i class="icon-arrow-right14 position-fixed"></i></button>*@
                                    <button type="submit" class="btn btn-success btn-float btn-rounded"><i class="icon-database-edit2"></i></button>
                                </div>
                            </div>
                        </center>

                    </div>

                </div>
            </div>
        </div>
                            }
    <script>
        $('#datePicker')
               .daterangepicker({
                   singleDatePicker: true,
                   locale: {
                       setDate: new Date(),
                       format: 'YYYY/MM/DD'
                   },
                   autoclose: true,
               })
               .on('changeDate', function (e) {
                   $('#datepicker').hide();
               });

    </script>
    @*<script>

                  //var idEval = "@Model.Id";
                    $(document).on("click", "#save", function () {
                        $.ajax({
                            url: '/Evaluation/ReponseEvaluationTest',
                            type: 'POST',
                            datatype: 'json',
                            data: {
                                id : 1,
                                 message : $("#message").val()
                           },
                          //  async: true,
                            success: function (data) {
                                // alert("utilisateur"+" "+idEval+"");
                                alert("success");
                            },
                        });
                    })

        </script>*@
}
@section testProfile{

    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src=@ViewBag.empConnectedImage alt="">
        <span>@ViewBag.nameEmpConnected</span>
        <i class="caret"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">

        <li><a href="@Url.Action("logout", "Authentification")"><i class="icon-switch2"></i> Logout</a></li>
    </ul>
}
@section sidebarProfile{

    <a href="#" class="media-left"><img src=@ViewBag.empConnectedImage class="img-circle img-sm" alt=""></a>
    <div class="media-body">
        <span class="media-heading text-semibold">@ViewBag.nameEmpConnected</span>
        <div class="text-size-mini text-muted">
            <i class="icon-user text-size-small"></i> &nbsp;@ViewBag.pseudoNameEmpConnected
        </div>
    </div>
    <div class="media-right media-middle">

    </div>
}
@section pagetitle{
    <h4> <span class="text-semibold">Espace Agent</span> -  Historique des Evaluations</h4>
}
@section pagetitlebody {
    <li class="text-semibold"> <b>Historique Evaluations Enquete Auto</b></li>
    <li> Modifier l'Evaluation </li>
}