@model IEnumerable<MVCWEB.Models.EvaluationEvaluationSCAutoViewModel>


<div id="details"></div>
<div id="comments"></div>
<div class="content-group" style="margin-left:600px">
    <h5 class="text-semibold no-margin"><i class="icon-calendar5 position-left text-slate"></i> @ViewBag.nbreEvaluations</h5>
    <h5><b>Nombre des Evaluations</b></h5>
</div>
<div>
    <table id="historiqueEmp" class="table datatable-scroll-y">
        <thead>
            <tr>
                <th style="font-weight:bold;">Date </th>
                <th style="font-weight:bold;">Score</th>
                <th style="font-weight:bold;">Emetteur de l'évaluation</th>
                <th hidden>Présentation</th>
                <th hidden>Respect du Script</th>
                <th hidden>Traitement des objections</th>
                <th hidden>Exploitation Outils</th>
                <th hidden>Historisation Outils</th>
                <th hidden>Discours et Maitrise Francais</th>
                <th hidden>Débit</th>
                <th hidden>Intonation</th>
                <th hidden>Ecoute active et reformulation</th>
                <th hidden>Prise de congé</th>
                <th style="font-weight:bold;">Commentaires</th>
                <th hidden>Réponse Agent</th>
                <th style="font-weight:bold;">Notes</th>
                <th style="font-weight:bold;">Enregistrement</th>
                <th style="font-weight:bold;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a>@item.dateTempEvaluation.Day/@item.dateTempEvaluation.Date.Month/@item.dateTempEvaluation.Date.Year</a>
                    </td>
                    @{

                        String str = item.note.ToString("N2");
                    }

                    <td><font color="red">@str%</font></td>

                    <td>@item.senderName</td>
                    <td hidden>
                        @if (item.presentation >= 0)
                        {
                            @item.presentation
                        }
                        else
                        {
                            <h6 style="width:35%" class="col-xs-1 control-label">-</h6>
                        }
                    </td>
                    <td hidden>
                        @if (item.respectScript >= 0)
                        {
                            @item.respectScript
                        }
                        else
                        {
                            <h6 style="width:35%" class="col-xs-1 control-label">-</h6>
                        }
                    </td>
                    <td hidden>
                        @if (item.traitementObjections >= 0)
                        {
                            @item.traitementObjections
                        }
                        else
                        {
                            <h6 style="width:35%" class="col-xs-1 control-label">-</h6>
                        }
                    </td>
                    <td hidden>
                        @if (item.exploitationOutils >= 0)
                        {
                            @item.exploitationOutils
                        }
                        else
                        {
                            <h6 style="width:35%" class="col-xs-1 control-label">-</h6>
                        }
                    </td>
                    <td hidden>
                        @if (item.HistorisationOutils >= 0)
                        {
                            @item.HistorisationOutils
                        }
                        else
                        {
                            <h6 style="width:35%" class="col-xs-1 control-label">-</h6>
                        }
                    </td>
                    <td hidden>
                        @if (item.discours >= 0)
                        {
                            @item.discours
                        }
                        else
                        {
                            <h6 style="width:35%" class="col-xs-1 control-label">-</h6>
                        }
                    </td>
                    <td hidden>
                        @if (item.debit >= 0)
                        {
                            @item.debit
                        }
                        else
                        {
                            <h6 style="width:35%" class="col-xs-1 control-label">-</h6>
                        }
                    </td>
                    <td hidden>
                        @if (item.intonation >= 0)
                        {
                            @item.intonation
                        }
                        else
                        {
                            <h6 style="width:35%" class="col-xs-1 control-label">-</h6>
                        }
                    </td>

                    <td hidden>
                        @if (item.ecouteReformulation >= 0)
                        {
                            @item.ecouteReformulation
                        }
                        else
                        {
                            <h6 style="width:35%" class="col-xs-1 control-label">-</h6>
                        }
                    </td>
                    <td hidden>
                        @if (item.priseConge >= 0)
                        {
                            @item.priseConge
                        }
                        else
                        {
                            <h6 style="width:35%" class="col-xs-1 control-label">-</h6>
                        }
                    </td>
                    
                    <td hidden>
                        @item.commentaireQualite
                    </td>
                    <td hidden>
                        @item.commentaireAgent
                    </td>
                    <td>
                        @*<button type="button" class="btn btn-info btn-sm" data-popup="popover" data-html="true" data-trigger="focus" data-content="Présentation et Identification : @item.presentationIdentification <br> Objet Appel : @item.objetAppel <br> Mutualisation : @item.mutualisation <br> Marché Renouvelable : @item.marcheRenouvlable <br> Durée du marché : @item.dureeMarche <br> Coordonnées attributaire : @item.coordonneesAttr <br> Montant du marché(HT ou TTC) : @item.montantMarche <br> Responsable du marché : @item.responsableMarche <br> Traitement des objections : @item.traitementObjections <br> Transcription des information : @item.transcriptionsInformations <br> Envoi de Mail : @item.envoiMail <br> Discours : @item.discours <br> Attitude : @item.attitude <br> Prise de congé : @item.priseConge">Voir Notes <i class="icon-chevron-right"></i></button>*@

                        <ul class="nav nav-pills">
                            <li class="dropdown">
                                <a data-toggle="dropdown" style="background-color: aqua;color:#000;">Voir Notes <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right" style="width:250px;">
                                    <li>
                                        Présentation:
                                        <span>
                                            @if (item.presentation >= 0)
                                            {@item.presentation }
                                            else
                                            {<label>-</label>}
                                        </span>
                                    <li>
                                        Respect du script:
                                        <span>
                                            @if (item.respectScript >= 0)
                                            {@item.respectScript }
                                            else
                                            {<label>-</label>}
                                        </span>
                                    </li>
                                    <li>
                                        Traitement des objections:
                                        <span>
                                            @if (item.traitementObjections >= 0)
                                            {@item.traitementObjections }
                                            else
                                            {<label>-</label>}
                                        </span>
                                    </li>
                                    <li>
                                        Exploitation Outils:
                                        <span>
                                            @if (item.exploitationOutils >= 0)
                                            {@item.exploitationOutils }
                                            else
                                            {<label>-</label>}
                                        </span>
                                    </li>
                                    <li>
                                        Historisation Outils:
                                        <span>
                                            @if (item.HistorisationOutils >= 0)
                                            {@item.HistorisationOutils }
                                            else
                                            {<label>-</label>}
                                        </span>
                                    </li>
                                    <li>
                                        Discours:
                                        <span>
                                            @if (item.discours >= 0)
                                            {@item.discours }
                                            else
                                            {<label>-</label>}
                                        </span>
                                    </li>
                                    <li>
                                        Débit:
                                        <span>
                                            @if (item.debit >= 0)
                                            {@item.debit }
                                            else
                                            {<label>-</label>}
                                        </span>
                                    </li>
                                    <li>
                                        Intonation:
                                        <span>
                                            @if (item.intonation >= 0)
                                            {@item.intonation }
                                            else
                                            {<label>-</label>}
                                        </span>
                                    </li>
                                    <li>
                                        Ecoute active et reformulation:
                                        <span>
                                            @if (item.ecouteReformulation >= 0)
                                            {@item.ecouteReformulation }
                                            else
                                            {<label>-</label>}
                                        </span>
                                    </li>
                                    <li>
                                        Prise de congé:
                                        <span>
                                            @if (item.priseConge >= 0)
                                            {@item.priseConge }
                                            else
                                            {<label>-</label>}
                                        </span>
                                    </li>
                                   
                                </ul>
                            </li>
                        </ul>
                    </td>

                    <td>
                        <button class="btn btn-warning" id="test6" data-com="@item.commentaireQualite" data-reponse="@item.commentaireAgent">Details&nbsp;<i class="icon-popout"></i></button>
                    </td>
                    <td>
                        @if (item.enregistrementFullName != null)
                {
                            <aside type="button" class="btn bg-teal-400" id="test5" data-id="@item.enregistrementFullName" data-FullName="@item.enregistrementUrl" data-directory="@item.enregistrementDirectory">Ecouter&nbsp;<i class="icon-play"></i></aside>
                        }
                    </td>
                    <td>
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="@Url.Action("EditEnqueteAuto", "EvaluationServiceClientAuto", new { id = item.Id })"><i class="glyphicon glyphicon-edit"></i> Modifier</a>
                                    </li>
                                    <li>
                                        <a>
                                            <article id="delete" data-id="@item.Id" data-title="Supprimer" data-toggle="modal"><i class="glyphicon glyphicon-trash"></i> Supprimer</article>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
                        }
        </tbody>
    </table>
</div>

<div id="explorer1"></div>
<!-- /basic datatable -->

<script type="text/javascript">

        $(document).ready(function () {
            $('aside').on('click', function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var fullname = $buttonClicked.attr('data-FullName');
                var directoryName = $buttonClicked.attr('data-directory');
                $.ajax({
                    url: '/EvaluationServiceClientAuto/FindCustomEnregistrement',
                    type: 'GET',
                    datatype: 'json',
                    data: {
                        'name': id,
                        'fullName': fullname,
                        'DirectoryName': directoryName
                    },
                    async: false,
                    success: function (data) {
                        if ($("#details").is(":empty") == false) {
                            $('#details').removeData("#detailsFile");
                            $("div.modal-backdrop.fade.in").remove();
                            $('#details').html(data);
                        }
                        else {

                            $('#details').html(data);
                        }

                        //$('.modal fade in').remove();
                        //$('#detailsFile').empty();
                        //$('#details').html(data);
                        $('#detailsFile').modal(({
                            backdrop: 'static',
                            keyboard: false
                        }));
                        //$('#errorFile2').modal('show');

                        //alert("utilisateur"+" "+$("#typeGenerator").val()+" "+""+ $("#datePicker").val())
                    },
                    //complete: function () {
                    //    $('#loadimage').hide();
                    //    $('#details').show();cccc

                    //}
                });
            })

            $(document).on("click", "#test6", function () {
                var $buttonClicked = $(this);
                var comqualite = $buttonClicked.attr('data-com');
                var comagent = $buttonClicked.attr('data-reponse');
                $.ajax({
                    url: '/EvaluationServiceClientAuto/FindComments',
                    type: 'GET',
                    datatype: 'json',
                    data: {
                        'CommentQualite': comqualite,
                        'CommentAgent': comagent
                    },
                    async: false,
                    success: function (data) {
                        if ($("#comments").is(":empty") == false) {
                            $('#comments').removeData("#commentsFile");
                            $("div.modal-backdrop.fade.in").remove();
                            $('#comments').html(data);
                        }
                        else {

                            $('#comments').html(data);
                        }

                        //$('.modal fade in').remove();
                        //$('#detailsFile').empty();
                        //$('#details').html(data);
                        $('#commentsFile').modal(({
                            backdrop: 'static',
                            keyboard: false
                        }));
                        //$('#errorFile2').modal('show');

                        //alert("utilisateur"+" "+$("#typeGenerator").val()+" "+""+ $("#datePicker").val())
                    },
                    //complete: function () {
                    //    $('#loadimage').hide();
                    //    $('#details').show();

                    //}
                });
            })
        })
</script>

<script>
        $(function () {
            $('[data-popup="popover"]').popover();
            $('[data-popup="tooltip"]').tooltip();
        });
</script>

<script type="text/javascript">

        $(document).ready(function () {
            //$(document).on("click", "#delete", function () {
            $("article").on("click", function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                $.ajax({
                    url: '/EvaluationServiceClientAuto/FindEvaluationEnqueteAuto',
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "html",
                    async: true,
                    success: function (data) {
                        $('#explorer1').html(data);
                        $('#alerteSuppression').modal('show');
                    },



                });


            })
        })

</script>