@section test{
    @model Domain.Entity.User

    @{
        ViewBag.Title = "Details";
    }

    <h2>Details</h2>

    <div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model=>model.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model=>model.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.login)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.login)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nomPrenom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nomPrenom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.logEntree)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.logEntree)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.logSortie)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.logSortie)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.role)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.role)
            </dd>

          </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}