@model MVCWEB.Models.TestIndicateur

@{
    ViewBag.Title = "Trimestriel";
}

<h2>Stats Par Agent Trimestrielle</h2>

@Html.DropDownList("InstitutionLocationId", ViewData["list"] as SelectList)


<br />
<label>Taux de ventes:</label>
<span>@ViewBag.TauxVenteTri1%</span>
<br />
<label>Taux d'absence:</label>
<span>@ViewBag.TauxVentesMens%</span>
<br />
<label>Taux ACW:</label>
<span>@ViewBag.TauxVentesMens%</span>
<br />
<label>Taux Pause Brief:</label>
<span>@ViewBag.TauxVentesMens%</span>
<br />
<label>Taux Pause Perso:</label>
<span>@ViewBag.TauxVentesMens%</span>
<br />
<label>Taux Preview:</label>
<span>@ViewBag.TauxVentesMens%</span>

<br />