@section test{
    @model IEnumerable<Domain.Entity.Alerte>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout_user.cshtml";

    }

    <h5>Liste des Alertes</h5>

    <p>
       <b>@Html.ActionLink("Nouvelle Alerte", "Create")</b> 
    </p>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable"  cellspacing="0">
            <thead>
                <tr>
                    @*<th>ID</th>*@
                    <th>Titre Alerte</th>
                    <th>Description</th>
                    <th>Date Creation</th>
                    <th>Etat Alerte</th>
                    <th>Reponse Alerte</th>
                    <th>Date Reponse</th>
                    <th>Action</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    @*<th>ID</th>*@
                    <th>Titre Alerte</th>
                    <th>Description</th>
                    <th>Date Creation</th>
                    <th>Etat Alerte</th>
                    <th>Reponse Alerte</th>
                    <th>Date Reponse</th>
                    <th>Action</th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.titreAlerte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dateCreation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.etatAlerte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.reponseAlerte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dateReponse)
                        </td>
                        <td>
                            @using (Html.BeginForm("Edit", "Alerte", new { id = item.Id }, FormMethod.Get, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <input type="submit" value="Editer" class="btn btn-primary" />
                                    </div>
                                </div>
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("Details", "Alerte", new { id = item.Id }, FormMethod.Get, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <input type="submit" value="Details" class="btn btn-warning" />
                                    </div>
                                </div>
                            }
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <p data-placement="top" title="Delete">
                                        <button id="imed" data-id="@item.Id" data-title="Supprimer Employé" data-toggle="modal" class="btn btn-danger">Delete</button>
                                    </p>
                                </div>
                            </div>

                        </td>



                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="explorer1">


    </div>
    @*<div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>*@
    <script src="/Content/Template1/vendor/jquery/jquery.min.js"></script>

    <script type="text/javascript">

          $(document).ready ( function () {
              $(document).on ("click", "#imed", function () {
                  var $buttonClicked = $(this);
                  var id = $buttonClicked.attr('data-id');
              $.ajax({
                  url: '/Alerte/FindAlerteAdmin',
                  type: "GET",
                  contentType: "application/json; charset=utf-8",
                  data: { "Id": id },
                  datatype: "html",
                  async:true,
                  success: function(data) {
                      $('#explorer1').html(data);
                      $('#modifier').modal('show');
                    },



              });


              })
          })

    </script>

}


