
@model MVCWEB.Models.EventViewModel

@{
    ViewBag.Title = "IndexManagerAgentTest";
    Layout = "~/Views/Shared/_LayoutCalendarUser.cshtml";
}
@section test{



@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js" charset="utf-8"></script>


<script type='text/javascript'>
		$( document ).ready(function() {
		    $('#planDate').datetimepicker({

		        format: 'YYYY-MM-DD HH:mm',
		        daysOfWeekDisabled: [0, 6],



		    });
		});
</script>
<script type='text/javascript'>
    $(document).ready(function () {
        $('#planDate2').datetimepicker({

            format: 'YYYY-MM-DD HH:mm',
            daysOfWeekDisabled: [0, 6],



        });
    });
</script>
<div id="explorer10"></div>
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Gestion de planification 'Production/Ressources</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <p class="content-group">Le calcul des indicateurs de présence (Absentéisme, Présence, Congés, ...) se base sur la planification effectué par votre part.<br />Sur cette rubrique, vous avez la possibilité de planifier les congés et les Autorisations de vos collaborateurs, ainsi que la programmation des jours fériés et les fermetures annuelles. @*<code>droppable</code>*@</p>
        <div class="row">
            <div class="col-md-3">
                <div class="content-group" id="external-events">
                    <h6>Draggable Events</h6>
                    <div class="fc-events-container content-group">
                        @*<div class="fc-event" data-color="#546E7A">Sauna and stuff</div>*@
                        <div class="fc-event" data-color="#26A69A">Congé</div>
                        <div class="fc-event" data-color="#cc0000">Autorisation</div>
                        @*<div class="fc-event" data-color="#546E7A">Meeting with Fred</div>*@
                        @*<div class="fc-event" data-color="#FF7043">Shopping</div>*@
                        <div class="fc-event" data-color="#5C6BC0">Fermeture Annuel</div>
                        <div class="fc-event" data-color="#0099ff">Jour Fériés</div>
                        <div class="fc-event" data-color="#ff66ff">Planning</div>

                    </div>
                    <div class="checkbox checkbox-right checkbox-switchery switchery-xs text-center">
                        <label>
                            <input type="hidden" class="switch" checked="checked" id="drop-remove">
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>
<!-- /external events -->
<!-- RTL layout -->
@*<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Planing par Groupe</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <p class="content-group">FullCalendar library also supports RTL text direction, useful for right-to-left languages such as Arabic and Hebrew. To display the calendar in right-to-left mode, set <code>isRTL</code> plugin option to <code>true</code>. This option switches class in calendar container to <code>.fc-rtl</code> and changes the layout accordingly to the specific css styles. RTL version supports all features and options available in LTR mode.</p>
        <div id="calendar"></div>
    </div>
</div>*@

<div class="modal fade" id="popupPlanForm" style="padding-top:150px">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:darkcyan">
                <h4 class="modal-title"><font color="white">Ajouter Un Evénement</font></h4>
                <button type="button" class="close" data-dismiss="modal" style="color:white;">&times;</button>
            </div>

            <div class="modal-body">
                <!-- Basic radar chart -->
                <div class="panel panel-flat">

                    <div class="panel-body">
                        <form id="PlanForm" class="col-md-12 form-horizontal">
                            <div class="col"><input type="hidden" id="eventID"></div>
                            <div class="form-group">
                                <label>Titre</label>
                                <select id="planTitre" class="form-control" style="min-width: 100%">
                                    <option value="">- - - - - - - - - - - - - - -</option>
                                    <option value="Congé">Congé</option>
                                    <option value="Autorisation">Autorisation</option>
                                    <option value="Jours Fériés">Jours Fériés</option>
                                    <option value="Fermeture Annuel">Fermeture Annuel</option>
                                    <option value="Planning">Planning</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" id="planDescription" class="form-control" style="min-width: 100%" />
                            </div>
                            @*<div class="form-group">
                                <label>Date Debut</label>
                                <input type="date" id="planDate" class="form-control" style="min-width: 100%" />
                            </div>*@
                            <div class='form-group' >
                                <label>Date Debut</label>
                                <input type='text' id='planDate' class="form-control"  style="min-width: 100%"/>                              
                            </div>
                           @*<div class="input-group">
                                <span class="input-group-addon"><i class="icon-calendar5"></i></span>
                                <input type="text" class="form-control daterange-time" value="03/18/2013 - 03/23/2013">
                            </div>*@
                       
                            <div class="form-group">
                                <label>Date Fin</label>
                                <input type="text" id="planDate2" class="form-control" style="min-width: 100%" />
                            </div>
                            @*<div class="form-group">
                                <label>Heure Arrivée</label>
                                <input type="text" id="planTime" class="form-control" style="min-width: 100%">
                            </div>
                            <div class="form-group">
                                <label>Heure Départ</label>
                                <input type="text" id="planTime2" class="form-control" style="min-width: 100%">
                            </div>*@
                            @*<div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                    <input type="text" class="form-control daterange-basic" value="01/01/2015 - 01/31/2015">
                                </div>*@

                            <div class="form-group" id="users">
                                <label>Utilisateurs</label>
                                @Html.DropDownList("planUsers", Model.utilisateurs, "---Select----", htmlAttributes: new { @class = "form-control", @id = "planUsers", @name = "planUsers", selected = "selected" })
                                @Html.ValidationMessageFor(model => model.utilisateurs, "", new { @class = "text-danger" })
                                @*<select id="planUsers" class="form-control" style="min-width: 100%">
                                    <option value="">- - - - - - - - - - - - - - -</option>
                                    @foreach (var item in Model.utilisateurs)
                                    {
                                        <option value=@item.Value>@item.Text</option>

                                    }
                                </select>*@

                            </div>
                            <div class="form-group" id="groups">
                                <label>Groupes</label>
                                <select   id="planGroups" class="form-control" style="min-width: 100%">
                                    <option value="">- - - - - - - - - - - - - - -</option>
                                    @foreach (var item in Model.groupesass)
                                    {
                                        <option value=@item.Value>@item.Text</option>

                                    }
                                </select>

                            </div>
                            <div class="form-group">
                                @ViewBag.messageAutorisation
                            </div>

                            <div class="form-group">
                                <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">Annuler</button>
                                <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary">Enregistrer l'événement</button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>
            <div class="modal-footer" style="background-color:darkcyan">

            </div>
        </div>
    </div>
</div>   
    <script type="text/javascript">
        $("#ImedTest").AnyTime_picker({
     format: "%M %D %H:%i",
 }) </script>
      
@*<div class="modal fade" id="popupPlanForm" style="padding-top:150px">
    <div class="modal-dialog">
         Modal content
    
                            <div id="PlanForm" class="input-group">
                                <input  type="text" class="form-control daterange-basic" value="01/01/2015 - 01/31/2015">
                            </div>


                    </div>

                </div>*@
    
@*<script>
  
     $(document).ready(function () {
            var sourceFullView = { url: '/Calendar/GetDiaryEvents/' };
            var sourceSummaryView = { url: '/Calendar/GetDiarySummary/' };
            var CalLoading = true;
         
            $('#calendar').fullCalendar({
                        header: {
                            left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                        },
                defaultView: 'month',
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                lang:"fr",
                events: '/Home/GetEventsByImed/',
                eventClick: function (calEvent, jsEvent, view) {
                                alert('You clicked on event id: ' + calEvent.id
                                    + "\nSpecial ID: " + calEvent.someKey
                                    + "\nAnd the title is: " + calEvent.title);

                            },

                eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
                        if (confirm("Confirm move?")) {
                            UpdateEvent(event.id, event.start);
                    }
                    else {
                        revertFunc();
                }
            },

                eventResize: function (event, dayDelta, minuteDelta, revertFunc) {

                if (confirm("Confirm change appointment length?")) {
                    UpdateEvent(event.id,event.title, event.start, event.end);
                }
                else {
                    revertFunc();
                }
            },



                dayClick: function (date, allDay, jsEvent, view) {
                //$('#planDate').val($.fullCalendar.formatDate(date, 'dd/MM/yyyy',allDay));
                //$('#planDate2').val($.fullCalendar.formatDate(date, 'dd/MM/yyyy'));
                //$('#planTime').val($.fullCalendar.formatDate(date, 'HH:mm'));
                //$('#planTime2').val($.fullCalendar.formatDate(date, 'HH:mm'));
                ShowPlanPopup(date);
            },

                viewRender: function (view, element) {

                if (!CalLoading) {
                    if (view.name == 'month') {
                            $('#calendar').fullCalendar('removeEventSource', sourceFullView);
                            $('#calendar').fullCalendar('removeEvents');
                            $('#calendar').fullCalendar('addEventSource', sourceSummaryView);
                    }
                    else {
                            $('#calendar').fullCalendar('removeEventSource', sourceSummaryView);
                            $('#calendar').fullCalendar('removeEvents');
                            $('#calendar').fullCalendar('addEventSource', sourceFullView);
                    }
                }
            }

            });

            CalLoading = false;


        });


        $('#btnPopupCancel').click(function () {
            ClearPopupFormValues();
            $('#popupPlanForm').hide();
        });

        $('#btnPopupSave').click(function () {

            $('#popupPlanForm').hide();

            var dataRow = {
                'NewPlanTitre': $('#planTitre').val(),
                'NewPlanDescription': $('#planDescription').val(),
                'NewPlanDate': $('#planDate').val(),
                'NewPlanDate2': $('#planDate2').val(),
                'NewPlanTime': $('#planTime').val(),
                'NewPlanTime2': $('#planTime2').val(),
                'NewplanGroups': $('#planGroups').val(),
                'NewplanUser': $('#planUsers').val()


            }

            ClearPopupFormValues();

            $.ajax({
                type: 'POST',
                url: "/Autorisation/EnregistrerEvent",
                data: dataRow,
                success: function (response) {
                    if (response == 'True') {
                        alert('Error, could not save event!');
                    }
                    else {
                        alert('New event saved!');
                    }
                }
            });
        });

        function ShowPlanPopup(date) {
            ClearPopupFormValues();
            $('#popupPlanForm').modal();
            $('#planTitle').focus();
        }

        function ClearPopupFormValues() {
            $('#eventID').val("");
            $('#planTitle').val("");
            $('#planDescription').val("");
            $('#planDateTime').val("");
            $('#planDuration').val("");
            $('#planGroups').val("");
            $('#planUsers').val("")


        }



</script>*@
    @*<script rel="stylesheet" type="text/css">
        .form-control daterange-time 
        { position: relative; z-index: 10000 !important; }
    </script>*@
@*<script type="text/javascript">
$(function() {
    $('input[name="daterange"]').daterangepicker({
        singleDatePicker: true,
        
        timePickerIncrement: 30,
        timePicker: true,
        locale: {
            format: 'MM/DD/YYYY h:mm A'
        },
    });
});

</script>*@
@*<script type="text/javascript">
    $(function(){
        $('#daterangeimed').datetimepicker();
        });
</script>*@ 
    @*<script  type="text/javascript">
        $(function() {
        $('input[name="daterange"]').daterangepicker({
            singleDatePicker: true,
            "showDropdowns": true,
            showDropdowns: true,
            "timePickerSeconds": true,
            "timePicker": true,
            timePicker24Hour: true,
            "locale": {
                "format": "YYYY/MM/DD",
                "separator": "-",
            },
            
        });
        });
    </script>*@
<script type="text/javascript">


   jQuery('#datetimepicker').datetimepicker();

</script>
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            //selectable: true,
            //select: function (start, end, jsEvent, view) {
            //    $('#planDate').text() =start;
            //},
            buttonText: {
                month: 'mois',
                week: 'semaine',
                day: 'Jour',
            },
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    
                    right: 'month,agendaWeek,agendaDay'
                },
               
                defaultView: 'month',
                editable: false,
                events: "/Home/GetEventsByImed/",
                eventClick: function (calEvent, jsEvent, view) {
                    //alert('You clicked on event id: ' + calEvent.id
                    //    + "\nSpecial ID: " + calEvent.someKey
                    //    + "\nAnd the title is: " + calEvent.title);
                    var id = calEvent.id;
                    $.ajax({
                        url: '/Home/FindEvent',
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "html",
                        async: true,
                        success: function (data) {
                            $('#explorer10').html(data);
                            $('#alerteDetails').modal('show');
                        },



                    });

                },
                dayClick: function (date, allDay, jsEvent, view) {

                    //$('#planDate').val(date.date);
                    //$('#planTitle').val("");
                    //$('#planDate').val($.fullCalendar.formatDate(date, 'dd/MM/yyyy'));
                    //$('#planTime').val($.fullCalendar.formatDate(date, 'HH:mm'));
                    //$('#planTime2').val($.fullCalendar.formatDate(date, 'HH:mm'));
                    ShowPlanPopup(date);
                },

            });
        });

        $('#btnPopupSave').click(function () {

            $('#popupPlanForm').hide();

            var dataRow = {
                'NewPlanTitre': $('#planTitre').val(),
                'NewPlanDescription': $('#planDescription').val(),
                'NewPlanDate': $('#planDate').val(),
                'NewPlanDate2': $('#planDate2').val(),
                'NewPlanTime': $('#planTime').val(),
                'NewPlanTime2': $('#planTime2').val(),
                'NewplanGroups': $('#planGroups').val(),
                'NewplanUser': $('#planUsers').val()

            }

            ClearPopupFormValues();

            $.ajax({
                type: 'POST',
                url: "/Autorisation/EnregistrerEvent",
                data: dataRow,
                success: function (response) {
                    $('#explorer10').html(response);
                    $('#modifiertest').modal("show");
                    $('#modifiertest2').modal("show");
                    $('#modifiertest3').modal("show");
                    $('#modifiertest4').modal("show");
                    $('#modifiertest5').modal("show");
                    $('#modifiertest6').modal("show");
                    $('#modifiertest10').modal("show");

                    $('#calendar').fullCalendar('rerenderEvents');
                    $('#calendar').fullCalendar('refetchEvents');
                }
            });
        });
        function ShowPlanPopup(date) {
            ClearPopupFormValues();
            $('#planDate').val("" + date.format('YYYY-MM-DD HH:mm'));
            $('#planDate2').val("" + date.format('YYYY-MM-DD HH:mm'));

            $('#popupPlanForm').modal();
            $('#planTitle').focus();
            $('#groups').hide();
            $('#users').hide();

        }
        function ClearPopupFormValues() {
            $('#eventID').val("");
            $('#planTitle').val("");
            $('#planDescription').val("");
            $('#planDateTime').val("");
            $('#planDuration').val("");
            $('#planGroups').val("");
            $('#planUsers').val("")
            $("#planTitre").val("");
        }

</script>
<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#planTitre").change(function () {
            if (($("#planTitre option:selected").text() === "Autorisation") || ($("#planTitre option:selected").text() === "Congé"))
            {
                $("#users").show();
                $("#groups").hide();
            }
            if (($("#planTitre option:selected").text() === "Fermeture Annuel") || ($("#planTitre option:selected").text() === "Jours Fériés")||($("#planTitre option:selected").text() === "Planning")) {
                $("#groups").show();
                $("#users").hide();
            }
            if (($("#planTitre option:selected").text() === "- - - - - - - - - - - - - - -")) {
                $("#groups").hide();
                $("#users").hide();
            }
            //else (($("#planTitre option:selected").text() === "Fermeture Annuel") || ($("#planTitre option:selected").text() === "Jours Fériés"))
            //{
            //    $("#groups").show();
            //    $("#users").hide();
            //}
            //}$("div.id_100 select").val("val2");
        })
    });
</script>
@*<div class="modal fade" id="alerteDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5></h5>
            </div>

            <div class="modal-body">
               
                         /basic radar chart 
            </div>

                    
            </div>
    </div>
    </div>*@
    }
@section testProfile{

    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src=@ViewBag.empConnectedImage alt="">
        <span>@ViewBag.nameEmpConnected</span>
        <i class="caret"></i>
    </a>
}
@section testProfileLeft{
    <a href="#" class="media-left"><img src=@ViewBag.empConnectedImage class="img-circle img-sm" alt=""></a>
    <div class="media-body">
        <span class="media-heading text-semibold">@ViewBag.nameEmpConnected</span>
        <div class="text-size-mini text-muted">
            <i class="icon-user text-size-small"></i> &nbsp;@ViewBag.pseudoNameEmpConnected
        </div>
    </div>
}
@*@section testMenuLeft{
    
    <li class="active"><a href="@Url.Action("IndexManagerGroupes", "Home")"><i class="icon-home4"></i> <span>Acceuil</span></a></li>
    }*@
@section testMenuLeft{
@*@{
    String idEmpConnected = @HttpContext.Current.Session["IdEmpConnected"].ToString();
    int id = Convert.ToInt32(idEmpConnected);
}*@
    <li class="active"><a href="@Url.Action("ManagerGroupes", "Home")"><i class="icon-home4"></i> <span>Acceuil</span></a>
    
</li>
    <li>
        <a href="#"><i class="glyphicon glyphicon-user"></i> <span>Suivie Par Agent</span></a>
        <ul>
            <li>
                <a href="@Url.Action("ManagerJournalierAgent", "Home")">Journalier </a>
            </li>
            <li>
                <a href="@Url.Action("ManagerHebdoAgent", "Home")"> Hebdomadaire </a>
            </li>
            <li>
                <a href="@Url.Action("ManagerMensuelAgent", "Home")">Mensuel </a>
            </li>
            <li>
                <a href="@Url.Action("ManagerTrimestrielleAgent", "Home")"> Trimestriel </a>
            </li>
            <li>
                <a href="@Url.Action("ManagerAnnuelleAgent", "Home")"> Annuelle</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="glyphicon glyphicon-stats"></i> <span>Suivie Par Activité</span></a>
        <ul>
            <li><a href="@Url.Action("ManagerJournalierActivity", "Home")">Journalier </a></li>
            <li><a href="layout_navbar_sidebar_fixed.html">Hebdomadaire</a></li>
            <li><a href="layout_sidebar_fixed_native.html">Mensuel</a></li>
            <li><a href="layout_navbar_hideable.html">Trimestriel</a></li>
            <li><a href="layout_navbar_hideable_sidebar.html">Annuelle</a></li>
        </ul>
    </li>
   <li>
    <a href="#"><i class="glyphicon glyphicon-th-list"></i> <span>Suivi Par Campagne</span></a>
    <ul>
        <li><a href="@Url.Action("GISI_REAB_Qualif", "DetailsActivites")">GISI-REAB </a></li>
        <li><a href="@Url.Action("GISI_PROMO_Qualif", "DetailsActivites")">GISI-PROMO</a></li>
        <li><a href="@Url.Action("GMT_REAB_Qualif", "DetailsActivites")">GMT-REAB</a></li>
        <li><a href="@Url.Action("GMT_PROMO_Qualif", "DetailsActivites")">GMT-PROMO</a></li>
    </ul>
</li>

<li>
    <a href="#"><i class="glyphicon glyphicon-import"></i> <span>Suivi Accords</span></a>
    <ul>
        <li><a href="@Url.Action("GISI_REAB_Qualif", "DetailsActivites")">GISI-REAB </a></li>
        <li><a href="@Url.Action("GISI_PROMO_Qualif", "DetailsActivites")">GISI-PROMO</a></li>
        <li><a href="@Url.Action("GMT_REAB_Qualif", "DetailsActivites")">GMT-REAB</a></li>
        <li><a href="@Url.Action("GMT_PROMO_Qualif", "DetailsActivites")">GMT-PROMO</a></li>
    </ul>
</li>
<li>
    <a href="@Url.Action("SuiviTemps", "AttendanceHermes")"><i class="icon-table2"></i> <span>Suivi Temps</span></a>
</li>
<li>
    <a href="#"><i class="glyphicon glyphicon-import"></i> <span>Suivi Par Injection</span></a>
    <ul>
        <li><a href="layout_navbar_fixed.html">Journalier</a></li>
        <li><a href="layout_navbar_sidebar_fixed.html">Hebdomadaire</a></li>
        <li><a href="layout_sidebar_fixed_native.html">Mensuel</a></li>
        <li><a href="layout_navbar_hideable.html">Trimestriel</a></li>
        <li><a href="layout_navbar_hideable_sidebar.html">Annuel</a></li>

    </ul>
</li>
    <li>
        <a href="@Url.Action("Index", "Alerte")"><i class="glyphicon glyphicon-alert"></i> <span>Alertes</span></a>
        <ul>
            <li><a href="@Url.Action("IndexAgentManager", "Alerte")">Eléments Envoyées</a></li>
            <li><a href="@Url.Action("CreateAlerteManager", "Alerte")">Nouvelle Alerte</a></li>

        </ul>
    </li>
    <li>
        <a href="@Url.Action("Calendar", "Home")"><i class="icon-calendar3"></i> <span>Planning</span></a>

    </li>
<li>
    <a href="#"><i class="glyphicon glyphicon-volume-up"></i> <span>Accès aux Enregistrements </span></a>
    <ul>
        <li>
            <a href="@Url.Action("Index2", "Directory")">Par Compagne </a>
        </li>
        <li>
            <a href="@Url.Action("TestDiffusion2", "Directory")"> Par Agent </a>
        </li>
    </ul>

</li>
}
