@model IEnumerable<MVCWEB.Models.EmployeeViewModel>

@{
    ViewBag.Title = "IndexManagerAgent";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}
@section test{


<div id="wrap" class="oe_structure oe_empty" data-oe-id="3089" data-oe-model="ir.ui.view" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]">
    <section class="s_three_columns">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mt32 mb48">
                    <a href="@Url.Action("IndexManagerAgentTest", "Home")">
                        <img class="img img-responsive" src="/Content/Template1/Images/12.png" alt="Echantillon n°1 pour trois colonnes ">
                    </a>
                    <a href="@Url.Action("IndexManagerAgentTest", "Home")">
                        <h4 class="mt16 o_default_snippet_text">Employés</h4>
                    </a>
                    <p class="o_default_snippet_text">
                        Vous trouverez dans ce menu les détails concernant les Agents,
                        ou collaborteurs et leurs managers parvenant du CRM Hermes.
                    </p>
                </div>
                <div class="col-md-4 mt32 mb48">
                    <a href="@Url.Action("Index", "Planing")">
                        <img class="img img-responsive" src="/Content/Template1/Images/90.png" alt="Odoo- Echantillon n° 2 pour trois colonnes">
                    </a>
                    <a href="@Url.Action("Index", "Planing")">
                        <h4 class="mt16 o_default_snippet_text">Planing </h4>
                    </a>
                    <p class="o_default_snippet_text">
                        Le service plannig contient la liste des palnings par service,
                        ou département  par activité,par titre,par collaborateur
                    </p>
                </div>
                <style>
                    p.indent {
                        padding-left: 1.8em;
                    }
                </style>
                <div class="col-md-4 mt32 mb48">
                    <a href="@Url.Action("Index", "Alerte")">
                        <img class="img img-responsive" src="/Content/Template1/Images/15.png" alt="Odoo- Echantillon n° 3 pour trois colonnes">
                    </a>
                    <a href="@Url.Action("Index", "Alerte")">
                        <h4 class="mt16 o_default_snippet_text">Alertes</h4>
                    </a>
                    <p class="o_default_snippet_text">
                        Vous trouverez dans ce menu les détails concernant les alertes,
                        qui concernent les employées suite au résultats générées par les indicateurs

                    </p>
                </div>
            </div>
            </br>
            </br>
        </div>
    </section>
    <section class="s_three_columns">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mt32 mb48">
                    <a href="@Url.Action("Index", "User")">
                        <img class="img img-responsive" src="/Content/Template1/Images/18.png" alt="Odoo - Echantillon n°1 pour trois colonnes ">
                    </a>
                    <a href="@Url.Action("Index", "User")">
                        <h4 class="mt16 o_default_snippet_text">Users</h4>
                    </a>
                    <p class="o_default_snippet_text">
                        Vous trouverez dans ce menu les détails concernant les Agents,
                        ou collaborteurs et leurs managers connectant via AD.
                    </p>
                </div>
                <div class="col-md-4 mt32 mb48">
                    <a href="@Url.Action("Index", "Titre")">
                        <img class="img img-responsive" src="/Content/Template1/Images/19.png" alt="Odoo- Echantillon n° 2 pour trois colonnes">
                    </a>
                    <a href="@Url.Action("Index", "Titre")">
                        <h4 class="mt16 o_default_snippet_text">Titres</h4>
                    </a>
                    <p class="o_default_snippet_text">
                        Le menu titre contient la liste des titres par service,
                        ou département  par activité,par titre,par collaborateur
                    </p>
                    </p>
                </div>
                <div class="col-md-4 mt32 mb48">
                    <a href="@Url.Action("Index", "Indicateur")">
                        <img class="img img-responsive" src="/Content/Template1/Images/indicateur-performance-18-novembre-2015.jpg" alt="Odoo- Echantillon n° 3 pour trois colonnes">
                    </a>
                    <a href="@Url.Action("Index", "Indicateur")">
                        <h4 class="mt16 o_default_snippet_text">Indicateur</h4>
                    </a>
                    <p class="o_default_snippet_text">
                        Le menu Indicateur contient la liste des facteurs ou resultats par service,
                        ou département  par activité,par titre,par collaborateur journalier hebdo ,mensuel,annuel
                    </p>
                    </p>
                </div>
            </div>
            </br>
            </br>
        </div>
    </section>
    <section class="s_three_columns">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mt32 mb48">
                    <a href="@Url.Action("Index", "Groupe")">
                        <img class="img img-responsive" src="/Content/Template1/Images/25.png" alt="Odoo - Echantillon n°1 pour trois colonnes ">
                    </a>
                    <a href="@Url.Action("Index", "Groupe")">
                        <h4 class="mt16 o_default_snippet_text">Groupes</h4>
                    </a>
                    <p class="o_default_snippet_text">
                        Le menu groupe contient la liste des groupes affecté aux service,agent et manager

                    </p>
                </div>

            </div>
            </br>
            </br>
        </div>
    </section>
</div>
}
    }-