@model Domain.Entity.Appels_Entrants_SamRc

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Appels_Entrants_SamRc</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CustomerID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Indice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Indice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CallType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CallType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.WaitDuration)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.WaitDuration)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ConvDuration)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ConvDuration)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.WrapupDuration)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.WrapupDuration)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ANI)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ANI)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DNIS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DNIS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastCampaign)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastCampaign)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Closed)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Closed)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NoAgent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NoAgent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Overflow)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Overflow)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Abandon)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Abandon)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastQueue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastQueue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastAgent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastAgent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastTransfer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastTransfer)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CallStatusGroup)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CallStatusGroup)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CallStatusNum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CallStatusNum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CallStatusDetail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CallStatusDetail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EndByAgent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EndByAgent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AgentListen)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AgentListen)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.semaine)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.semaine)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mois)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mois)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Annee)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Annee)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FERIE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FERIE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Heure)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Heure)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
