
@model Domain.Entity.Employee
@{
    ViewBag.Title = "TrimestrielAgent";
    Layout = "~/Views/Shared/_Layout_agent.cshtml";
}
@section title {
    <li><a href="#"><i class="icon-home2 position-left"></i>Suivi Trimestriel</a></li>
    <li> Statistiques de @Html.DisplayFor(model => model.UserName)</li>
}
@section test{
    <script src="~/Scripts/datepicker.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>*@
    @*<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
           <script>
        zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
           </script>*@
    <script src="~/Scripts/zingchart.min.js"></script>

    <style type="text/css">
        .zc-ref {
            display: none;
        }
    </style>


    <form id="eventForm">
        <div class="row">
            <div class="col-1">
                <h6 class="col-xs-1 control-label">Trimestre</h6>
                <div class="col-xs-4">
                    <select class="form-control" id="trimestreDropDown" style="height: 35px;">
                        @foreach (var trimestre in ViewBag.TrimestreItems as IEnumerable<SelectListItem>)
                        {
                            <option value="@trimestre.Value">@trimestre.Text</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-1">
                <h6 class="col-xs-1 control-label">Année</h6>
                <div class="col-xs-4 date">
                    <div class="input-group input-append date">
                        <input type="text" value="Sélectionner l'année" class="form-control" name="date" id="datePicker" />
                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br />
    <div class="row">

        <!-- Temps Présence -->
        <div class="col-lg-6">
            <div class="panel panel-flat">

                <div class="panel-heading">
                    <h6 class="panel-title"><i class="icon-graph"></i> <span style="font-size: 16px;">Temps Présence</span></h6><hr />
                </div>
                <div class="container-fluid" style="height: 500px;">
                    <div class="row">
                        <div class="col-lg-4">
                            <table id="GridPresence" class="table table-bordered" table-bordered" role="grid" aria-describedby="dataTable_info" style="margin-top:1cm; height: 300px;">
                                <tbody></tbody>
                            </table>

                        </div>

                        <div class="col-lg-8">
                            <div id="myChart"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /Temps Présence -->
        <!-- Traitement des Fiches -->
        <div class="col-lg-6">
            <div class="panel panel-flat">

                <div class="panel-heading">
                    <h6 class="panel-title"><i class="icon-graph"></i> <span style="font-size: 16px;">Traitement des Fiches</span></h6>
                    <hr />
                </div>
                <div class="container-fluid" style="height: 500px;">
                    <div class="row">
                        <div class="col-lg-5">
                            <table id="GridFiche" class="table table-bordered" style="height:370px;">
                                <tbody></tbody>
                            </table>
                        </div>

                        <div class="col-lg-7">
                            <div id="myChartFiche"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /Traitement des Fiches -->
    </div>

    <div class="row">
        <!-- Télephonie -->
        <div class="col-lg-12">
            <div class="panel panel-flat">

                <div class="panel-heading">
                    <h6 class="panel-title"><i class="icon-pie-chart"></i> <span style="font-size: 16px;">Téléphonie</span></h6><hr />
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <table id="GridTelephonie" class="table table-bordered" style="width: 400px; margin-top: 1cm; height: 400px;">
                                <tbody></tbody>
                            </table>
                        </div>

                        <div class="col-lg-8">
                            <div id="myChartTelephonie"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /Télephonie-->
    </div>
    <script>
        $("#datePicker").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            autoclose: true
        });
        $("#datePicker").datepicker("setDate", new Date());
    </script>
    <script>
        $(document).ready(function () {
            var idHermes = "@Model.IdHermes";
            $.ajax({
                url: '@Url.Action("GetTrimestrielValues", "Indicateurs")',
                type: 'POST',
                datatype: 'json',
                data: {
                    agentSel: idHermes,
                    trimestreSel: $('#trimestreDropDown').val(),
                    anneeSel: $('#datePicker').val()
                },

                success: function (c) {
                    var tblHtml = "";
                    var tblHtml2 = "";
                    var tblHtml3 = "";

                    $.each(c, function (index, cal) {

                        //Presence
                        if (index >= 9 && index <= 12) {
                            if (index == 12 && cal.value >= 0.5) {
                                tblHtml += "<tr><td>" + cal.name + "</td>";
                                tblHtml += "<td><span class='label label-danger'>" + cal.value + "</span></td></tr>";
                            }
                            if (index == 12 && cal.value < 0.5) {
                                tblHtml += "<tr><td>" + cal.name + "</td>";
                                tblHtml += "<td><span class='label label-success'>" + cal.value + "</span></td></tr>";
                            }
                            else if (index != 12) {
                                tblHtml += "<tr><td>" + cal.name + "</td>";
                                tblHtml += "<td><span class='label label-default'>" + cal.value + "</span></td></tr>";
                            }
                        }
                        if (index == 19) {
                            tblHtml += "<tr><td>" + cal.name + "</td>";
                            tblHtml += "<td><span class='label label-default'>" + cal.value + "</span></td></tr>";
                        }
                        //Téléphonie
                        if (index >= 13 && index <= 18) {
                            //seuil taux comm
                            if (index == 13 && cal.value >= 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 13 && cal.value < 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            //seuil taus occ
                            if (index == 14 && cal.value < 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 14 && cal.value >= 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            //seuil ACW
                            if (index == 15 && cal.value < 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 15 && cal.value >= 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            //seuil Preview
                            if (index == 16 && cal.value < 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 16 && cal.value >= 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 17 && cal.value >= 6) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 17 && cal.value < 6) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 18 && cal.value >= 6) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 18 && cal.value < 6) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                        }
                        if (index == 19) {
                            tblHtml2 += "<tr><td>" + cal.name + "</td>";
                            tblHtml2 += "<td><span class='label label-default'>" + cal.value + "</span></td></tr>";
                        }
                        //Traitement Fiche
                        if (index >= 0 && index <= 8) {
                            if (index == 7 && cal.value >= 50) {
                                tblHtml3 += "<tr><td>" + cal.name + "</td>";
                                tblHtml3 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 7 && cal.value < 50) {
                                tblHtml3 += "<tr><td>" + cal.name + "</td>";
                                tblHtml3 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            else if (index != 7) {
                                if (cal.name != "Contact Argumenté Négatif") {
                                    tblHtml3 += "<tr><td>" + cal.name + "</td>";
                                    tblHtml3 += "<td><span class='label label-default'>" + cal.value + "</span></td></tr>";
                                }
                            }
                        }
                    });

                    //Présence
                    $("#GridPresence > tbody").html(tblHtml);
                    //traitement fiches
                    $("#GridFiche > tbody").html(tblHtml3);
                    //téléphonie
                    $("#GridTelephonie > tbody").html(tblHtml2);

                    var date = $("#datePicker").val();

                    var date = $("#trimestreDropDown").val();
                    var Appelemis = c[0].value;
                    var AppelAboutis = c[1].value;
                    var NbreCA = c[2].value;
                    var Nbreaccord = c[3].value;
                    var NbreCNA = c[4].value;
                    var TauxVente = c[7].value;
                    var TauxVenteHeure = c[8].value;

                    var Tempspresence = c[10].value;
                    var Tempsprod = c[11].value;
                    var Etp = c[12].value;

                    var Tauxcomm = c[13].value;
                    var Tauxoccup = c[14].value;
                    var TauxAcw = c[15].value;
                    var Tauxpreview = c[16].value;
                    var Tauxpausebrief = c[17].value;
                    var Tauxpauseperso = c[18].value;
                    var TotAcw = c[20].value;

                    var myConfig = {
                        "graphset": [
                            {
                                "type": "bar",
                                "background-color": "white",
                                "tooltip": {
                                    "text": "%v heures"
                                },
                                "plotarea": {
                                    "margin": "100 60 100 50",
                                    "y": "100px"
                                },
                                "legend": {
                                    "layout": "x3",
                                    "y": "5%",
                                    "x": "24%",
                                    "overflow": "page",
                                    "alpha": 0.05,
                                    "shadow": false,
                                    "marker": {
                                        "type": "circle",
                                        "border-color": "none",
                                        "size": "8px"
                                    },
                                    "border-width": 0,
                                    "maxItems": 3,
                                    "toggle-action": "remove",
                                    "pageOn": {
                                        "backgroundColor": "#000",
                                        "size": "10px",
                                        "alpha": 0.65
                                    },
                                    "pageOff": {
                                        "backgroundColor": "#7E7E7E",
                                        "size": "10px",
                                        "alpha": 0.65
                                    },
                                    "pageStatus": {
                                        "color": "black"
                                    }
                                },
                                "plot": {
                                    "animation": {
                                        "effect": "ANIMATION_SLIDE_BOTTOM"
                                    }
                                },
                                "scale-x": {
                                    "line-color": "#7E7E7E",
                                    "labels": [
                                      'Trimestre' + date

                                    ],
                                    "item": {
                                        "font-color": "#7e7e7e"
                                    },
                                    "guide": {
                                        "visible": false
                                    }
                                },
                                "scale-y": {
                                    "line-color": "#7E7E7E",
                                    "item": {
                                        "font-color": "#7e7e7e"
                                    },
                                    "values": "0:2500:1250",
                                    "guide": {
                                        "visible": true
                                    },
                                    "label": {
                                        "text": "Heures",
                                        "font-family": "arial",
                                        "font-angle": 0,
                                        "bold": true,
                                        "font-size": "14px",
                                        "font-color": "#7E7E7E",
                                        "offset-y": "-120px",
                                        "offset-x": "50px"
                                    },
                                },
                                "series": [
                                    {
                                        "values": [
                                            Tempspresence

                                        ],

                                        "background-color": "#ffbb33",
                                        "text": "Temps de Présence"
                                    },
                                    {
                                        "values": [
                                            Tempsprod
                                        ],
                                        "borderRadiusTopLeft": 7,
                                        "alpha": 0.95,
                                        "background-color": "#A0BE4A",
                                        "text": "Temps de Production"
                                    },
                                    {
                                        "values": [
                                            TotAcw
                                        ],
                                        "borderRadiusTopLeft": 7,
                                        "alpha": 0.95,
                                        "background-color": "#ff0000",
                                        "text": "Post Appel"
                                    }
                                ]
                            }
                        ]
                    };

                    zingchart.render({
                        id: 'myChart',
                        data: myConfig,
                        height: 390,
                        width: 500
                    });

                    var myConfigTelephonie = {
                        "background-color": "#FFF",
                        "graphset": [

                            {
                                "type": "pie",
                                "width": "105%",
                                "x": "-6%",
                                "background-color": "#FFF",
                                "title": {
                                    "background-color": "none",
                                    "font-weight": "normal",
                                    "font-family": "Arial",
                                    "font-color": "#ffffff",
                                    "height": "40px"
                                },
                                legend: {
                                    layout: "h",
                                    backgroundColor: "none",
                                    shadow: 0,
                                    borderWidth: 0,
                                    y: 40,
                                    x: "10%",
                                    toggleAction: "remove",
                                    item: {
                                        fontColor: "454754"
                                    },
                                    marker: {
                                        borderColor: "white",
                                        type: "circle",
                                        size: "8px"
                                    }
                                },
                                "plotarea": {
                                    "margin": "90 280 25 30"
                                },

                                "plot": {
                                    "animation": {
                                        "delay": 0,
                                        "effect": 2,
                                        "speed": 500,
                                        "method": 6,
                                        "sequence": 1
                                    },
                                    refAngle: 270,
                                    valueBox: [{
                                        placement: "out",
                                        text: "%t: %v %",
                                        fontSize: 14
                                    }]
                                },
                                "series": [
                                    {
                                        "text": "Communication",
                                        "values": [
                                            Tauxcomm
                                        ],
                                        "background-color": "#007E33",
                                        "border-color": "#454754",
                                        "border-width": "1px",
                                        "shadow": 0,
                                        "tooltip": {
                                            "background-color": "#007E33",
                                            "font-color": "#ffffff",
                                            "border-radius": "6px",
                                            "shadow": false,
                                            "padding": "5px 10px"
                                        }
                                    },

                                    {
                                        "text": "Post-Appel",
                                        "values": [
                                            TauxAcw
                                        ],
                                        "background-color": "#CC0000",
                                        "border-color": "#454754",
                                        "border-width": "1px",
                                        "shadow": 0,
                                        "tooltip": {
                                            "background-color": "#CC0000",
                                            "font-color": "#ffffff",
                                            "border-radius": "6px",
                                            "shadow": false,
                                            "padding": "5px 10px"
                                        }
                                    },
                                    {
                                        "text": "Preview",
                                        "values": [
                                            Tauxpreview
                                        ],
                                        "background-color": "#007bff",
                                        "border-color": "#454754",
                                        "border-width": "1px",
                                        "shadow": 0,
                                        "tooltip": {
                                            "background-color": "#007bff",
                                            "font-color": "#ffffff",
                                            "border-radius": "6px",
                                            "shadow": false,
                                            "padding": "5px 10px"
                                        }
                                    },
                                    {
                                        "text": "Pause Brief",
                                        "values": [
                                          Tauxpausebrief
                                        ],
                                        "background-color": "#6597a2",
                                        "border-color": "#454754",
                                        "border-width": "1px",
                                        "shadow": 0,
                                        "tooltip": {
                                            "background-color": "#2f6672",
                                            "font-color": "#ffffff",
                                            "border-radius": "6px",
                                            "shadow": false,
                                            "padding": "5px 10px"
                                        }
                                    },
                                     {
                                         "text": "Pause Perso",
                                         "values": [
                                             Tauxpauseperso
                                         ],
                                         "background-color": "#FF8800",
                                         "border-color": "#454754",
                                         "border-width": "1px",
                                         "shadow": 0,
                                         "tooltip": {
                                             "background-color": "#FF8800",
                                             "font-color": "#ffffff",
                                             "border-radius": "6px",
                                             "shadow": false,
                                             "padding": "5px 10px"
                                         }
                                     }



                                ]
                            },


                        ]
                    }


                    zingchart.render({
                        id: 'myChartTelephonie',
                        data: myConfigTelephonie,
                        height: 500,
                        width: 1000
                    });

                    var myConfigFiche = {
                        "type": "hbar",
                        "font-family": "Arial",

                        "plot": {
                            "bars-overlap": "100%",
                            "borderRadius": 10,
                            "hover-state": {
                                "visible": false
                            },
                            "animation": {
                                "delay": 300,
                                "effect": 3,
                                "speed": "200",
                                "method": "0",
                                "sequence": "3"
                            }
                        },
                        "plotarea": {
                            "margin": "20px 20px 10px 140px"
                        },
                        "scale-x": {
                            "line-color": "none",
                            "values": ["Appels Emis", "Appels Aboutis", "CA", "CA+"],
                            "tick": {
                                "visible": false
                            },
                            "guide": {
                                "visible": false
                            },
                            "item": {
                                "font-size": "14px",
                                "padding-right": "20px",
                                "auto-align": true,
                                "rules": [
                                    {
                                        "rule": "%i==0",
                                        "font-color": "#007bff"
                                    },

                                    {
                                        "rule": "%i==1",
                                        "font-color": "#E71D36"
                                    },
                                    {
                                        "rule": "%i==2",
                                        "font-color": "#FCAE48"
                                    },
                                    {
                                        "rule": "%i==3",
                                        "font-color": "#A0BE4A"
                                    },
                                    {
                                        "rule": "%i==4",
                                        "font-color": "#6FA6DF"
                                    }
                                ]
                            }
                        },
                        "scale-y": {
                            "visible": false,
                            "guide": {
                                "visible": false
                            }
                        },
                        "series": [
                            {
                                "values": [Appelemis, Appelemis, Appelemis, Appelemis],
                                "bar-width": "40px",
                                "background-color": "#f2f2f2",
                                "border-color": "#e8e3e3",
                                "border-width": 2,
                                "fill-angle": 90,
                                "tooltip": {
                                    "visible": true
                                }
                            },
                            {
                                "values": [Appelemis, AppelAboutis, NbreCA, Nbreaccord],
                                "bar-width": "32px",
                                "max-trackers": 0,
                                "value-box": {
                                    "placement": "middle",
                                    "text": "%v",
                                    "decimals": 0,
                                    "font-color": "#0000",
                                    "font-size": "14px",

                                },
                                "rules": [
                                    {
                                        "rule": "%i==0",
                                        "background-color": "#007bff"
                                    },

                                    {
                                        "rule": "%i==1",
                                        "background-color": "#E71D36"
                                    },
                                    {
                                        "rule": "%i==2",
                                        "background-color": "#FCAE48"
                                    },
                                     {
                                         "rule": "%i==3",
                                         "background-color": "#A0BE4A"
                                     },
                                      {
                                          "rule": "%i==4",
                                          "background-color": "#A0BE4A"
                                      }
                                ]
                            }
                        ]
                    };

                    zingchart.render({
                        id: 'myChartFiche',
                        data: myConfigFiche,
                        height: 350,
                        width: 420
                    });

                },
                error: function () { },
            });

        })

        $('#trimestreDropDown').on('change', function () {
            var idHermes = "@Model.IdHermes";
            $.ajax({
                url: '@Url.Action("GetTrimestrielValues", "Indicateurs")',
                type: 'POST',
                datatype: 'json',
                data: {
                    agentSel: idHermes,
                    trimestreSel: $('#trimestreDropDown').val(),
                    anneeSel: $('#datePicker').val()
                },

                success: function (c) {
                    //Présence
                    var tblHtml = "";
                    var tblHtml2 = "";
                    var tblHtml3 = "";

                    $.each(c, function (index, cal) {

                        //Presence
                        if (index >= 9 && index <= 12) {
                            if (index == 12 && cal.value >= 0.5) {
                                tblHtml += "<tr><td>" + cal.name + "</td>";
                                tblHtml += "<td><span class='label label-danger'>" + cal.value + "</span></td></tr>";
                            }
                            if (index == 12 && cal.value < 0.5) {
                                tblHtml += "<tr><td>" + cal.name + "</td>";
                                tblHtml += "<td><span class='label label-success'>" + cal.value + "</span></td></tr>";
                            }
                            else if (index != 12) {
                                tblHtml += "<tr><td>" + cal.name + "</td>";
                                tblHtml += "<td><span class='label label-default'>" + cal.value + "</span></td></tr>";
                            }
                        }
                        if (index == 19) {
                            tblHtml += "<tr><td>" + cal.name + "</td>";
                            tblHtml += "<td><span class='label label-default'>" + cal.value + "</span></td></tr>";
                        }
                        //Téléphonie
                        if (index >= 13 && index <= 18) {
                            //seuil taux comm
                            if (index == 13 && cal.value >= 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 13 && cal.value < 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            //seuil taus occ
                            if (index == 14 && cal.value < 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 14 && cal.value >= 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            //seuil ACW
                            if (index == 15 && cal.value < 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 15 && cal.value >= 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            //seuil Preview
                            if (index == 16 && cal.value < 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 16 && cal.value >= 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 17 && cal.value >= 6) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 17 && cal.value < 6) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 18 && cal.value >= 6) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 18 && cal.value < 6) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                        }
                        if (index == 19) {
                            tblHtml2 += "<tr><td>" + cal.name + "</td>";
                            tblHtml2 += "<td><span class='label label-default'>" + cal.value + "</span></td></tr>";
                        }
                        //Traitement Fiche
                        if (index >= 0 && index <= 8) {
                            if (index == 7 && cal.value >= 50) {
                                tblHtml3 += "<tr><td>" + cal.name + "</td>";
                                tblHtml3 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 7 && cal.value < 50) {
                                tblHtml3 += "<tr><td>" + cal.name + "</td>";
                                tblHtml3 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            else if (index != 7) {
                                if (cal.name != "Contact Argumenté Négatif") {
                                    tblHtml3 += "<tr><td>" + cal.name + "</td>";
                                    tblHtml3 += "<td><span class='label label-default'>" + cal.value + "</span></td></tr>";
                                }
                            }
                        }
                    });

                    //Présence
                    $("#GridPresence > tbody").html(tblHtml);
                    //traitement fiches
                    $("#GridFiche > tbody").html(tblHtml3);
                    //téléphonie
                    $("#GridTelephonie > tbody").html(tblHtml2);

                    var date = $("#datePicker").val();

                    var date = $("#trimestreDropDown").val();
                    var Appelemis = c[0].value;
                    var AppelAboutis = c[1].value;
                    var NbreCA = c[2].value;
                    var Nbreaccord = c[3].value;
                    var NbreCNA = c[4].value;
                    var TauxVente = c[7].value;
                    var TauxVenteHeure = c[8].value;

                    var Tempspresence = c[10].value;
                    var Tempsprod = c[11].value;
                    var Etp = c[12].value;

                    var Tauxcomm = c[13].value;
                    var Tauxoccup = c[14].value;
                    var TauxAcw = c[15].value;
                    var Tauxpreview = c[16].value;
                    var Tauxpausebrief = c[17].value;
                    var Tauxpauseperso = c[18].value;
                    var TotAcw = c[20].value;

                    var myConfig = {
                        "graphset": [
                            {
                                "type": "bar",
                                "background-color": "white",
                                "tooltip": {
                                    "text": "%v heures"
                                },
                                "plotarea": {
                                    "margin": "100 60 100 50",
                                    "y": "100px"
                                },
                                "legend": {
                                    "layout": "x3",
                                    "y": "5%",
                                    "x": "24%",
                                    "overflow": "page",
                                    "alpha": 0.05,
                                    "shadow": false,
                                    "marker": {
                                        "type": "circle",
                                        "border-color": "none",
                                        "size": "8px"
                                    },
                                    "border-width": 0,
                                    "maxItems": 3,
                                    "toggle-action": "remove",
                                    "pageOn": {
                                        "backgroundColor": "#000",
                                        "size": "10px",
                                        "alpha": 0.65
                                    },
                                    "pageOff": {
                                        "backgroundColor": "#7E7E7E",
                                        "size": "10px",
                                        "alpha": 0.65
                                    },
                                    "pageStatus": {
                                        "color": "black"
                                    }
                                },
                                "plot": {
                                    "animation": {
                                        "effect": "ANIMATION_SLIDE_BOTTOM"
                                    }
                                },
                                "scale-x": {
                                    "line-color": "#7E7E7E",
                                    "labels": [
                                      'Trimestre' + date

                                    ],
                                    "item": {
                                        "font-color": "#7e7e7e"
                                    },
                                    "guide": {
                                        "visible": false
                                    }
                                },
                                "scale-y": {
                                    "line-color": "#7E7E7E",
                                    "item": {
                                        "font-color": "#7e7e7e"
                                    },
                                    "values": "0:2500:1250",
                                    "guide": {
                                        "visible": true
                                    },
                                    "label": {
                                        "text": "Heures",
                                        "font-family": "arial",
                                        "font-angle": 0,
                                        "bold": true,
                                        "font-size": "14px",
                                        "font-color": "#7E7E7E",
                                        "offset-y": "-120px",
                                        "offset-x": "50px"
                                    },
                                },
                                "series": [
                                    {
                                        "values": [
                                            Tempspresence

                                        ],

                                        "background-color": "#ffbb33",
                                        "text": "Temps de Présence"
                                    },
                                    {
                                        "values": [
                                            Tempsprod
                                        ],
                                        "borderRadiusTopLeft": 7,
                                        "alpha": 0.95,
                                        "background-color": "#A0BE4A",
                                        "text": "Temps de Production"
                                    },
                                    {
                                        "values": [
                                            TotAcw
                                        ],
                                        "borderRadiusTopLeft": 7,
                                        "alpha": 0.95,
                                        "background-color": "#ff0000",
                                        "text": "Post Appel"
                                    }
                                ]
                            }
                        ]
                    };

                    zingchart.render({
                        id: 'myChart',
                        data: myConfig,
                        height: 390,
                        width: 500
                    });

                    var myConfigTelephonie = {
                        "background-color": "#FFF",
                        "graphset": [

                            {
                                "type": "pie",
                                "width": "105%",
                                "x": "-6%",
                                "background-color": "#FFF",
                                "title": {
                                    "background-color": "none",
                                    "font-weight": "normal",
                                    "font-family": "Arial",
                                    "font-color": "#ffffff",
                                    "height": "40px"
                                },
                                legend: {
                                    layout: "h",
                                    backgroundColor: "none",
                                    shadow: 0,
                                    borderWidth: 0,
                                    y: 40,
                                    x: "10%",
                                    toggleAction: "remove",
                                    item: {
                                        fontColor: "454754"
                                    },
                                    marker: {
                                        borderColor: "white",
                                        type: "circle",
                                        size: "8px"
                                    }
                                },
                                "plotarea": {
                                    "margin": "90 280 25 30"
                                },

                                "plot": {
                                    "animation": {
                                        "delay": 0,
                                        "effect": 2,
                                        "speed": 500,
                                        "method": 6,
                                        "sequence": 1
                                    },
                                    refAngle: 270,
                                    valueBox: [{
                                        placement: "out",
                                        text: "%t: %v %",
                                        fontSize: 14
                                    }]
                                },
                                "series": [
                                    {
                                        "text": "Communication",
                                        "values": [
                                            Tauxcomm
                                        ],
                                        "background-color": "#007E33",
                                        "border-color": "#454754",
                                        "border-width": "1px",
                                        "shadow": 0,
                                        "tooltip": {
                                            "background-color": "#007E33",
                                            "font-color": "#ffffff",
                                            "border-radius": "6px",
                                            "shadow": false,
                                            "padding": "5px 10px"
                                        }
                                    },

                                    {
                                        "text": "Post-Appel",
                                        "values": [
                                            TauxAcw
                                        ],
                                        "background-color": "#CC0000",
                                        "border-color": "#454754",
                                        "border-width": "1px",
                                        "shadow": 0,
                                        "tooltip": {
                                            "background-color": "#CC0000",
                                            "font-color": "#ffffff",
                                            "border-radius": "6px",
                                            "shadow": false,
                                            "padding": "5px 10px"
                                        }
                                    },
                                    {
                                        "text": "Preview",
                                        "values": [
                                            Tauxpreview
                                        ],
                                        "background-color": "#007bff",
                                        "border-color": "#454754",
                                        "border-width": "1px",
                                        "shadow": 0,
                                        "tooltip": {
                                            "background-color": "#007bff",
                                            "font-color": "#ffffff",
                                            "border-radius": "6px",
                                            "shadow": false,
                                            "padding": "5px 10px"
                                        }
                                    },
                                    {
                                        "text": "Pause Brief",
                                        "values": [
                                          Tauxpausebrief
                                        ],
                                        "background-color": "#6597a2",
                                        "border-color": "#454754",
                                        "border-width": "1px",
                                        "shadow": 0,
                                        "tooltip": {
                                            "background-color": "#2f6672",
                                            "font-color": "#ffffff",
                                            "border-radius": "6px",
                                            "shadow": false,
                                            "padding": "5px 10px"
                                        }
                                    },
                                     {
                                         "text": "Pause Perso",
                                         "values": [
                                             Tauxpauseperso
                                         ],
                                         "background-color": "#FF8800",
                                         "border-color": "#454754",
                                         "border-width": "1px",
                                         "shadow": 0,
                                         "tooltip": {
                                             "background-color": "#FF8800",
                                             "font-color": "#ffffff",
                                             "border-radius": "6px",
                                             "shadow": false,
                                             "padding": "5px 10px"
                                         }
                                     }



                                ]
                            },


                        ]
                    }


                    zingchart.render({
                        id: 'myChartTelephonie',
                        data: myConfigTelephonie,
                        height: 500,
                        width: 1000
                    });

                    var myConfigFiche = {
                        "type": "hbar",
                        "font-family": "Arial",

                        "plot": {
                            "bars-overlap": "100%",
                            "borderRadius": 10,
                            "hover-state": {
                                "visible": false
                            },
                            "animation": {
                                "delay": 300,
                                "effect": 3,
                                "speed": "200",
                                "method": "0",
                                "sequence": "3"
                            }
                        },
                        "plotarea": {
                            "margin": "20px 20px 10px 140px"
                        },
                        "scale-x": {
                            "line-color": "none",
                            "values": ["Appels Emis", "Appels Aboutis", "CA", "CA+"],
                            "tick": {
                                "visible": false
                            },
                            "guide": {
                                "visible": false
                            },
                            "item": {
                                "font-size": "14px",
                                "padding-right": "20px",
                                "auto-align": true,
                                "rules": [
                                    {
                                        "rule": "%i==0",
                                        "font-color": "#007bff"
                                    },

                                    {
                                        "rule": "%i==1",
                                        "font-color": "#E71D36"
                                    },
                                    {
                                        "rule": "%i==2",
                                        "font-color": "#FCAE48"
                                    },
                                    {
                                        "rule": "%i==3",
                                        "font-color": "#A0BE4A"
                                    },
                                    {
                                        "rule": "%i==4",
                                        "font-color": "#6FA6DF"
                                    }
                                ]
                            }
                        },
                        "scale-y": {
                            "visible": false,
                            "guide": {
                                "visible": false
                            }
                        },
                        "series": [
                            {
                                "values": [Appelemis, Appelemis, Appelemis, Appelemis],
                                "bar-width": "40px",
                                "background-color": "#f2f2f2",
                                "border-color": "#e8e3e3",
                                "border-width": 2,
                                "fill-angle": 90,
                                "tooltip": {
                                    "visible": true
                                }
                            },
                            {
                                "values": [Appelemis, AppelAboutis, NbreCA, Nbreaccord],
                                "bar-width": "32px",
                                "max-trackers": 0,
                                "value-box": {
                                    "placement": "middle",
                                    "text": "%v",
                                    "decimals": 0,
                                    "font-color": "#0000",
                                    "font-size": "14px",

                                },
                                "rules": [
                                    {
                                        "rule": "%i==0",
                                        "background-color": "#007bff"
                                    },

                                    {
                                        "rule": "%i==1",
                                        "background-color": "#E71D36"
                                    },
                                    {
                                        "rule": "%i==2",
                                        "background-color": "#FCAE48"
                                    },
                                     {
                                         "rule": "%i==3",
                                         "background-color": "#A0BE4A"
                                     },
                                      {
                                          "rule": "%i==4",
                                          "background-color": "#A0BE4A"
                                      }
                                ]
                            }
                        ]
                    };

                    zingchart.render({
                        id: 'myChartFiche',
                        data: myConfigFiche,
                        height: 350,
                        width: 420
                    });

                },
                error: function () { },
            });

        })

        $('#datePicker').on('changeDate', function () {
            var idHermes = "@Model.IdHermes";
            $.ajax({
                url: '@Url.Action("GetTrimestrielValues", "Indicateurs")',
                type: 'POST',
                datatype: 'json',
                data: {
                    agentSel: idHermes,
                    trimestreSel: $('#trimestreDropDown').val(),
                    anneeSel: $('#datePicker').val()
                },

                success: function (c) {

                    var tblHtml = "";
                    var tblHtml2 = "";
                    var tblHtml3 = "";

                    $.each(c, function (index, cal) {

                        //Presence
                        if (index >= 9 && index <= 12) {
                            if (index == 12 && cal.value >= 0.5) {
                                tblHtml += "<tr><td>" + cal.name + "</td>";
                                tblHtml += "<td><span class='label label-danger'>" + cal.value + "</span></td></tr>";
                            }
                            if (index == 12 && cal.value < 0.5) {
                                tblHtml += "<tr><td>" + cal.name + "</td>";
                                tblHtml += "<td><span class='label label-success'>" + cal.value + "</span></td></tr>";
                            }
                            else if (index != 12) {
                                tblHtml += "<tr><td>" + cal.name + "</td>";
                                tblHtml += "<td><span class='label label-default'>" + cal.value + "</span></td></tr>";
                            }
                        }
                        if (index == 19) {
                            tblHtml += "<tr><td>" + cal.name + "</td>";
                            tblHtml += "<td><span class='label label-default'>" + cal.value + "</span></td></tr>";
                        }
                        //Téléphonie
                        if (index >= 13 && index <= 18) {
                            //seuil taux comm
                            if (index == 13 && cal.value >= 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 13 && cal.value < 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            //seuil taus occ
                            if (index == 14 && cal.value < 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 14 && cal.value >= 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            //seuil ACW
                            if (index == 15 && cal.value < 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 15 && cal.value >= 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            //seuil Preview
                            if (index == 16 && cal.value < 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 16 && cal.value >= 50) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 17 && cal.value >= 6) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 17 && cal.value < 6) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 18 && cal.value >= 6) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 18 && cal.value < 6) {
                                tblHtml2 += "<tr><td>" + cal.name + "</td>";
                                tblHtml2 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                        }
                        if (index == 19) {
                            tblHtml2 += "<tr><td>" + cal.name + "</td>";
                            tblHtml2 += "<td><span class='label label-default'>" + cal.value + "</span></td></tr>";
                        }
                        //Traitement Fiche
                        if (index >= 0 && index <= 8) {
                            if (index == 7 && cal.value >= 50) {
                                tblHtml3 += "<tr><td>" + cal.name + "</td>";
                                tblHtml3 += "<td><span class='label label-success'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            if (index == 7 && cal.value < 50) {
                                tblHtml3 += "<tr><td>" + cal.name + "</td>";
                                tblHtml3 += "<td><span class='label label-danger'>" + cal.value + "%" + "</span></td></tr>";
                            }
                            else if (index != 7) {
                                if (cal.name != "Contact Argumenté Négatif") {
                                    tblHtml3 += "<tr><td>" + cal.name + "</td>";
                                    tblHtml3 += "<td><span class='label label-default'>" + cal.value + "</span></td></tr>";
                                }
                            }
                        }
                    });

                    //Présence
                    $("#GridPresence > tbody").html(tblHtml);
                    //traitement fiches
                    $("#GridFiche > tbody").html(tblHtml3);
                    //téléphonie
                    $("#GridTelephonie > tbody").html(tblHtml2);

                    var date = $("#datePicker").val();

                    var date = $("#trimestreDropDown").val();
                    var Appelemis = c[0].value;
                    var AppelAboutis = c[1].value;
                    var NbreCA = c[2].value;
                    var Nbreaccord = c[3].value;
                    var NbreCNA = c[4].value;
                    var TauxVente = c[7].value;
                    var TauxVenteHeure = c[8].value;

                    var Tempspresence = c[10].value;
                    var Tempsprod = c[11].value;
                    var Etp = c[12].value;

                    var Tauxcomm = c[13].value;
                    var Tauxoccup = c[14].value;
                    var TauxAcw = c[15].value;
                    var Tauxpreview = c[16].value;
                    var Tauxpausebrief = c[17].value;
                    var Tauxpauseperso = c[18].value;
                    var TotAcw = c[20].value;

                    var myConfig = {
                        "graphset": [
                            {
                                "type": "bar",
                                "background-color": "white",
                                "tooltip": {
                                    "text": "%v heures"
                                },
                                "plotarea": {
                                    "margin": "100 60 100 50",
                                    "y": "100px"
                                },
                                "legend": {
                                    "layout": "x3",
                                    "y": "5%",
                                    "x": "24%",
                                    "overflow": "page",
                                    "alpha": 0.05,
                                    "shadow": false,
                                    "marker": {
                                        "type": "circle",
                                        "border-color": "none",
                                        "size": "8px"
                                    },
                                    "border-width": 0,
                                    "maxItems": 3,
                                    "toggle-action": "remove",
                                    "pageOn": {
                                        "backgroundColor": "#000",
                                        "size": "10px",
                                        "alpha": 0.65
                                    },
                                    "pageOff": {
                                        "backgroundColor": "#7E7E7E",
                                        "size": "10px",
                                        "alpha": 0.65
                                    },
                                    "pageStatus": {
                                        "color": "black"
                                    }
                                },
                                "plot": {
                                    "animation": {
                                        "effect": "ANIMATION_SLIDE_BOTTOM"
                                    }
                                },
                                "scale-x": {
                                    "line-color": "#7E7E7E",
                                    "labels": [
                                      'Trimestre' + date

                                    ],
                                    "item": {
                                        "font-color": "#7e7e7e"
                                    },
                                    "guide": {
                                        "visible": false
                                    }
                                },
                                "scale-y": {
                                    "line-color": "#7E7E7E",
                                    "item": {
                                        "font-color": "#7e7e7e"
                                    },
                                    "values": "0:2500:1250",
                                    "guide": {
                                        "visible": true
                                    },
                                    "label": {
                                        "text": "Heures",
                                        "font-family": "arial",
                                        "font-angle": 0,
                                        "bold": true,
                                        "font-size": "14px",
                                        "font-color": "#7E7E7E",
                                        "offset-y": "-120px",
                                        "offset-x": "50px"
                                    },
                                },
                                "series": [
                                    {
                                        "values": [
                                            Tempspresence

                                        ],

                                        "background-color": "#ffbb33",
                                        "text": "Temps de Présence"
                                    },
                                    {
                                        "values": [
                                            Tempsprod
                                        ],
                                        "borderRadiusTopLeft": 7,
                                        "alpha": 0.95,
                                        "background-color": "#A0BE4A",
                                        "text": "Temps de Production"
                                    },
                                    {
                                        "values": [
                                            TotAcw
                                        ],
                                        "borderRadiusTopLeft": 7,
                                        "alpha": 0.95,
                                        "background-color": "#ff0000",
                                        "text": "Post Appel"
                                    }
                                ]
                            }
                        ]
                    };

                    zingchart.render({
                        id: 'myChart',
                        data: myConfig,
                        height: 390,
                        width: 500
                    });

                    var myConfigTelephonie = {
                        "background-color": "#FFF",
                        "graphset": [

                            {
                                "type": "pie",
                                "width": "105%",
                                "x": "-6%",
                                "background-color": "#FFF",
                                "title": {
                                    "background-color": "none",
                                    "font-weight": "normal",
                                    "font-family": "Arial",
                                    "font-color": "#ffffff",
                                    "height": "40px"
                                },
                                legend: {
                                    layout: "h",
                                    backgroundColor: "none",
                                    shadow: 0,
                                    borderWidth: 0,
                                    y: 40,
                                    x: "10%",
                                    toggleAction: "remove",
                                    item: {
                                        fontColor: "454754"
                                    },
                                    marker: {
                                        borderColor: "white",
                                        type: "circle",
                                        size: "8px"
                                    }
                                },
                                "plotarea": {
                                    "margin": "90 280 25 30"
                                },

                                "plot": {
                                    "animation": {
                                        "delay": 0,
                                        "effect": 2,
                                        "speed": 500,
                                        "method": 6,
                                        "sequence": 1
                                    },
                                    refAngle: 270,
                                    valueBox: [{
                                        placement: "out",
                                        text: "%t: %v %",
                                        fontSize: 14
                                    }]
                                },
                                "series": [
                                    {
                                        "text": "Communication",
                                        "values": [
                                            Tauxcomm
                                        ],
                                        "background-color": "#007E33",
                                        "border-color": "#454754",
                                        "border-width": "1px",
                                        "shadow": 0,
                                        "tooltip": {
                                            "background-color": "#007E33",
                                            "font-color": "#ffffff",
                                            "border-radius": "6px",
                                            "shadow": false,
                                            "padding": "5px 10px"
                                        }
                                    },

                                    {
                                        "text": "Post-Appel",
                                        "values": [
                                            TauxAcw
                                        ],
                                        "background-color": "#CC0000",
                                        "border-color": "#454754",
                                        "border-width": "1px",
                                        "shadow": 0,
                                        "tooltip": {
                                            "background-color": "#CC0000",
                                            "font-color": "#ffffff",
                                            "border-radius": "6px",
                                            "shadow": false,
                                            "padding": "5px 10px"
                                        }
                                    },
                                    {
                                        "text": "Preview",
                                        "values": [
                                            Tauxpreview
                                        ],
                                        "background-color": "#007bff",
                                        "border-color": "#454754",
                                        "border-width": "1px",
                                        "shadow": 0,
                                        "tooltip": {
                                            "background-color": "#007bff",
                                            "font-color": "#ffffff",
                                            "border-radius": "6px",
                                            "shadow": false,
                                            "padding": "5px 10px"
                                        }
                                    },
                                    {
                                        "text": "Pause Brief",
                                        "values": [
                                          Tauxpausebrief
                                        ],
                                        "background-color": "#6597a2",
                                        "border-color": "#454754",
                                        "border-width": "1px",
                                        "shadow": 0,
                                        "tooltip": {
                                            "background-color": "#2f6672",
                                            "font-color": "#ffffff",
                                            "border-radius": "6px",
                                            "shadow": false,
                                            "padding": "5px 10px"
                                        }
                                    },
                                     {
                                         "text": "Pause Perso",
                                         "values": [
                                             Tauxpauseperso
                                         ],
                                         "background-color": "#FF8800",
                                         "border-color": "#454754",
                                         "border-width": "1px",
                                         "shadow": 0,
                                         "tooltip": {
                                             "background-color": "#FF8800",
                                             "font-color": "#ffffff",
                                             "border-radius": "6px",
                                             "shadow": false,
                                             "padding": "5px 10px"
                                         }
                                     }



                                ]
                            },


                        ]
                    }


                    zingchart.render({
                        id: 'myChartTelephonie',
                        data: myConfigTelephonie,
                        height: 500,
                        width: 1000
                    });

                    var myConfigFiche = {
                        "type": "hbar",
                        "font-family": "Arial",

                        "plot": {
                            "bars-overlap": "100%",
                            "borderRadius": 10,
                            "hover-state": {
                                "visible": false
                            },
                            "animation": {
                                "delay": 300,
                                "effect": 3,
                                "speed": "200",
                                "method": "0",
                                "sequence": "3"
                            }
                        },
                        "plotarea": {
                            "margin": "20px 20px 10px 140px"
                        },
                        "scale-x": {
                            "line-color": "none",
                            "values": ["Appels Emis", "Appels Aboutis", "CA", "CA+"],
                            "tick": {
                                "visible": false
                            },
                            "guide": {
                                "visible": false
                            },
                            "item": {
                                "font-size": "14px",
                                "padding-right": "20px",
                                "auto-align": true,
                                "rules": [
                                    {
                                        "rule": "%i==0",
                                        "font-color": "#007bff"
                                    },

                                    {
                                        "rule": "%i==1",
                                        "font-color": "#E71D36"
                                    },
                                    {
                                        "rule": "%i==2",
                                        "font-color": "#FCAE48"
                                    },
                                    {
                                        "rule": "%i==3",
                                        "font-color": "#A0BE4A"
                                    },
                                    {
                                        "rule": "%i==4",
                                        "font-color": "#6FA6DF"
                                    }
                                ]
                            }
                        },
                        "scale-y": {
                            "visible": false,
                            "guide": {
                                "visible": false
                            }
                        },
                        "series": [
                            {
                                "values": [Appelemis, Appelemis, Appelemis, Appelemis],
                                "bar-width": "40px",
                                "background-color": "#f2f2f2",
                                "border-color": "#e8e3e3",
                                "border-width": 2,
                                "fill-angle": 90,
                                "tooltip": {
                                    "visible": true
                                }
                            },
                            {
                                "values": [Appelemis, AppelAboutis, NbreCA, Nbreaccord],
                                "bar-width": "32px",
                                "max-trackers": 0,
                                "value-box": {
                                    "placement": "middle",
                                    "text": "%v",
                                    "decimals": 0,
                                    "font-color": "#0000",
                                    "font-size": "14px",

                                },
                                "rules": [
                                    {
                                        "rule": "%i==0",
                                        "background-color": "#007bff"
                                    },

                                    {
                                        "rule": "%i==1",
                                        "background-color": "#E71D36"
                                    },
                                    {
                                        "rule": "%i==2",
                                        "background-color": "#FCAE48"
                                    },
                                     {
                                         "rule": "%i==3",
                                         "background-color": "#A0BE4A"
                                     },
                                      {
                                          "rule": "%i==4",
                                          "background-color": "#A0BE4A"
                                      }
                                ]
                            }
                        ]
                    };

                    zingchart.render({
                        id: 'myChartFiche',
                        data: myConfigFiche,
                        height: 350,
                        width: 420
                    });

                },
                error: function () { },
            });

        })
    </script>

}

@*@section testProfile{
        <a class="dropdown-toggle" data-toggle="dropdown">
            <img src=@ViewBag.empConnectedImage alt="">
            <span>@ViewBag.nameEmpConnected</span>
            <i class="caret"></i>
        </a>
    }
    @section testProfileLeft{
        <a href="#" class="media-left"><img src=@ViewBag.empConnectedImage class="img-circle img-sm" alt=""></a>
        <div class="media-body">
            <span class="media-heading text-semibold">@ViewBag.nameEmpConnected</span>
            <div class="text-size-mini text-muted">
                <i class="icon-user text-size-small"></i> &nbsp;@ViewBag.pseudoNameEmpConnected
            </div>
        </div>
    }*@
@section testProfile{

    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src=@ViewBag.empConnectedImage alt="">
        <span>@ViewBag.nameEmpConnected</span>
        <i class="caret"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">

        <li><a href="@Url.Action("logout", "Authentification")"><i class="icon-switch2"></i> Logout</a></li>
    </ul>
}
@section sidebarProfile{

    <a href="#" class="media-left"><img src=@ViewBag.empConnectedImage class="img-circle img-sm" alt=""></a>
    <div class="media-body">
        <span class="media-heading text-semibold">@ViewBag.nameEmpConnected</span>
        <div class="text-size-mini text-muted">
            <i class="icon-user text-size-small"></i> &nbsp;@ViewBag.pseudoNameEmpConnected
        </div>
    </div>
    <div class="media-right media-middle">

    </div>
}
@section pagetitle{
    <h4> <span class="text-semibold">Espace Agent</span> -  Suivi Trimestriel</h4>
}
@*@section pagetitlebody{
        <li><a href="#"><i class="icon-home2 position-left"></i> Accès aux Enregistrements</a></li>
        <li class="active">Par Compagne</li>
    }*@