@if (ViewBag.role == "Qualité")
{
    ViewBag.Title = "Diffusion";

    Layout = "~/Views/Shared/_Layout_Qualite.cshtml";
}
@if (ViewBag.role == "Agent Qualité")
{
    ViewBag.Title = "Diffusion";

    Layout = "~/Views/Shared/_Layout_AgentQualite.cshtml";
}

@if (ViewBag.role == "Agent Qualité_CustomerService")
{
    ViewBag.Title = "Diffusion";

    Layout = "~/Views/Shared/_Layout_CustomerService.cshtml";
}
@if (ViewBag.role == "Agent Qualité_Diffusion")
{
    ViewBag.Title = "Diffusion";

    Layout = "~/Views/Shared/_Layout_Diffusion.cshtml";
}
@if (ViewBag.role == "Agent Qualité_AchatPublic")
{
    Layout = "~/Views/Shared/_Layout_AchatPublic.cshtml";
}
@if (ViewBag.role == "Agent Qualité_PRV")
{
    Layout = "~/Views/Shared/_Layout_PRV.cshtml";
}
@model MVCWEB.Models.DirectoryViewModel

@section test{
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/pickers/daterangepicker.js"></script>


    <div class="form-group">
        <div class="row">
            <div class="col-1">
                <div class="col-xs-4">
                    <label>PseudoName de l'agent: </label>
                </div>
                <div class="col-xs-4">
                    <label>IdHermés de l'agent: </label>
                </div>
                <div class="col-xs-4">
                    <label>Enregistrements entre deux dates: </label>
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col-1">
                <div class="col-xs-4">

                    @Html.DropDownList("PseudoName", Model.utilisateursPseudonames, htmlAttributes: new { @class = "bootstrap-select", @id = "PseudoName", @name = "PseudoName", style = "data-width: 360px;", selected = "selected" })
                    @Html.ValidationMessageFor(model => model.utilisateursPseudonames, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-4">
                    @*@Html.DropDownList("IdHermeses", Model.IdHermeses, htmlAttributes: new { @class = "bootstrap-select", @id = "IdHermeses", @name = "IdHermeses", style = "data-width: 360px;", selected = "selected" })
                    @Html.ValidationMessageFor(model => model.IdHermeses, "", new { @class = "text-danger" })*@
                    @Html.DropDownList("IdHermeses", new SelectList(string.Empty, "Value", "Text"), new { style = "height: 35px;", @class = "form-control" })
                 </div>
                <div class="col-xs-4">

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                            <input type="text" class="form-control daterange-basic" name="datetimes" id="datetimes" value="01/01/2020 - 01/31/2020">
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <br />

            <div class="col-1" style="margin-left:30px">
             @if (Model.roleKey == "V4")
             {
                <p><button id="imedSave" type="submit" class="btn bg-teal-400 btn-labeled btn"><b><i class="icon-user" data-title="Chercher Enregistrement" value="Chercher Enregistrement" data-toggle="modal"></i></b>Recherche&nbsp;&nbsp;&nbsp;&nbsp;</button></p>
             }
             else
             {
                <p><button id="imedSaveV5" type="submit" class="btn bg-teal-400 btn-labeled btn"><b><i class="icon-user" data-title="Chercher Enregistrement" value="Chercher Enregistrement" data-toggle="modal"></i></b>&nbsp;&nbsp;Recherche&nbsp;&nbsp;&nbsp;&nbsp;</button></p>
             }
            </div>
            <div>
                <font color="red">@ViewBag.message</font>
            </div>

            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.roleName, new { @Id = "roleName" })
            </div>
        </div>
    </div>





    <br />

    <div id="explore1">
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
        </div>

        <div class="col-lg-3 col-sm-6">
            <img id="loadimage" src="~/Content/Loading-GIF-Image-3.gif" style="display: none; align-content:center" />

        </div>
        <div class="col-lg-3 col-sm-6">

        </div>

    </div>

    <script>
        $('#datePicker')
               .daterangepicker({
                   singleDatePicker: true,
                   locale: {
                       setDate: new Date(),
                       format: 'DD/MM/YYYY',
                       "daysOfWeek": [
            "Dim",
            "Lun",
            "Mar",
            "Mer",
            "Jeu",
            "Ven",
            "Sam"
                       ],
                       "monthNames": [
                           "Jan",
                           "Fev",
                           "Mar",
                           "Avr",
                           "Mai",
                           "Ju",
                           "Jui",
                           "Aou",
                           "Sep",
                           "Oct",
                           "Nov",
                           "December"
                       ],
                   },
                   lan: 'fr',
                   autoclose: true,
               })
               .on('changeDate', function (e) {
                   $('#datepicker').hide();
               });

    </script>
    <script>
    var debut;
    var fin;
$(function() {
    $('#datetimes').daterangepicker({

        opens: 'left',
        format: 'DD/MM/YYYY',
        locale: {

            "daysOfWeek": [
      "Dim",
      "Lun",
      "Mar",
      "Mer",
      "Jeu",
      "Ven",
      "Sam"
            ],
            "monthNames": [
                "Jan",
                "Fev",
                "Mar",
                "Avr",
                "Mai",
                "Ju",
                "Jui",
                "Aou",
                "Sep",
                "Oct",
                "Nov",
                "December"
            ],
        },
        lan: 'fr',


    },
     function (start, end, label) {
         debut = start.format('DD/MM/YYYY');
         fin = end.format('DD/MM/YYYY');
     }
    );
});
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(document).on("click", "#imedSave", function () {

                //alert(fin);
                $('#explore1').hide();

                $('#loadimage').show();

                $.ajax({
                    url: '/Superviseur/FindDiffusion',
                    type: 'GET',
                    datatype: 'json',
                    data: {
                        utilisateurs: $("#IdHermeses").val(),
                        //date: $("#datePicker").val(),
                        pseudoNames: $("#PseudoName").val(),
                        roleName:$("#roleName").val(),
                        start: debut,
                        end: fin
                    },
                    async: true,
                    success: function (data) {
                        $('#explore1').html(data);
                        $('#errorFile').modal('show');
                        $('#errorFile2').modal('show');
                        $('#errordate').modal('show');

                        //alert("utilisateur"+" "+$("#typeGenerator").val()+" "+""+ $("#datePicker").val())
                    },
                    complete: function () {
                        $('#loadimage').hide();
                        $('#explore1').show();

                    }
                });
            })

            $(document).on("click", "#imedSaveV5", function () {

                //alert(fin);
                $('#explore1').hide();

                $('#loadimage').show();

                $.ajax({
                    url: '/Superviseur/FindParAgentV5',
                    type: 'GET',
                    datatype: 'json',
                    data: {
                        IdHermes: $("#IdHermeses").val(),
                        //date: $("#datePicker").val(),
                        pseudoNames: $("#PseudoName").val(),
                        roleName: $("#roleName").val(),
                        start: debut,
                        end: fin
                    },
                    async: true,
                    success: function (data) {
                        $('#explore1').html(data);
                        $('#errorFile').modal('show');
                        $('#errorFile2').modal('show');
                        $('#errordate').modal('show');

                        //alert("utilisateur"+" "+$("#typeGenerator").val()+" "+""+ $("#datePicker").val())
                    },
                    complete: function () {
                        $('#loadimage').hide();
                        $('#explore1').show();

                    }
                });
            })
        })
    </script>
    <script>
    $(document).ready(function () {
        $(document).on("click", "#stopRecherche", function () {

                //alert(fin);
               
            $('#explore1').show();

            $('#loadimage').hide();
                $.ajax({
                    url: '/Directory/AnnulerRecherche',
                    type: 'GET',
                    datatype: 'json',
                    data: {
                       
                    },
                    async: true,
                    //success: function (data) {
                    //    $('#explore1').html(data);
                    //    $('#errorFile').modal('show');
                    //    $('#errorFile2').modal('show');
                    //    $('#errordate').modal('show');

                    //    //alert("utilisateur"+" "+$("#typeGenerator").val()+" "+""+ $("#datePicker").val())
                    //},
                    //complete: function () {
                    //    $('#loadimage').hide();
                    //    $('#explore1').show();

                    //}
                });
            })
        })
    </script>
<script>
        $(document).ready(function () {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetIdHermes")',
                dataType: 'json',
                data: {
                    PseudoNameSelected: $("#PseudoName").val()
                },
                success: function (IdHermesesList) {
                    $.each(IdHermesesList, function (i, t) {
                        $("#IdHermeses").append('<option value="' + t.Value + '">' +
                         t.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })

        $('#PseudoName').on('change', function () {
            $("#IdHermeses").empty();
           $.ajax({
                type: 'POST',
                url: '@Url.Action("GetIdHermes", "Superviseur")',
                dataType: 'json',
                data: {
                    PseudoNameSelected: $("#PseudoName").val()
                },
                success: function (IdHermesesList) {
                    $.each(IdHermesesList, function (i, t) {
                        $("#IdHermeses").append('<option value="' + t.Value + '">' +
                         t.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
</script>
}

@section pagetitle{
<h4> <span class="text-semibold">Accès aux Enregistrements</span> @Model.roleName  </h4>
}
@section pagetitlebody{
    <li><a href="#"><i class="icon-home2 position-left"></i> Accès aux Enregistrements</a></li>
    <li class="active">Par Agent</li>
}
@section testProfile{

    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src=@Model.Url alt="">
        <span>@Model.userName</span>
        <i class="caret"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">

        <li><a href="@Url.Action("logout", "Authentification")"><i class="icon-switch2"></i> Logout</a></li>
    </ul>
}
@section sidebarProfile{

    <a href="#" class="media-left"><img src=@Model.Url class="img-circle img-sm" alt=""></a>
    <div class="media-body">
        <span class="media-heading text-semibold">@Model.userName</span>
        <div class="text-size-mini text-muted">
            <i class="icon-user text-size-small"></i> &nbsp;@Model.pseudoNameEmp
        </div>
    </div>
    <div class="media-right media-middle">

    </div>
}