@model MVCWEB.Models.EvaluationViewModel
@{

    Layout = "~/Views/Shared/_Layout_Qualite.cshtml";
}

@section test{
    <script src="~/Scripts/zingchart.min.js"></script>
    <div class="row">

        <div class="col-1">
            <h6 class="col-xs-2 control-label">Dates Début / Fin </h6>
            <div class="col-xs-3 date">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                        <input type="text" class="form-control daterange-basic" name="datetimes" id="datetimes" value="01/01/2020 - 01/31/2020">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-1">
            <h6 class="col-xs-2 control-label">Choisissez Collaborateur</h6>
            <div class="col-xs-3">
                @Html.DropDownList("AgentDropdownList", Model.employees, "---Select Collaborateur---", htmlAttributes: new { @class = "bootstrap-select", @id = "agent", @name = "test", style = "data-width: 360px;", selected = "selected" })
                @Html.ValidationMessageFor(model => model.employees, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-1">
            <button id="Save" type="submit" class="btn bg-teal-400" data-title="Chercher" value="Chercher">Recherche <i class="icon-stats-bars3 position-right"></i></button>
        </div>

    </div>


    <div class="row">
        <div class="col-md-12" id="myChart3"></div>
    </div>

    <div class="panel border-left-lg border-left-info" style="margin-left: 0.2cm;" id="Details" hidden>
        <div class="panel-body">
            <h6 class="no-margin-top"><a href="task_manager_detailed.html"># Moyenne Items</a></h6>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-4" style="font-weight:bold;">Nombre Logements:</label>
                        <div class="col-md-3" id="nombreLogements">
                        </div>
                        <div class="col-md-3" id="nombreLogementsRs">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-xs-4" style="font-weight: bold;">Nombre Sociaux:</label>
                        <div class="col-md-3" id="nombreSociaux">
                        </div>
                        <div class="col-md-3" id="nombreSociauxRs">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-xs-4" style="font-weight:bold;">Type Commerce:</label>
                        <div class="col-md-3" id="typeCommerce">
                        </div>
                        <div class="col-md-3" id="typeCommerceRs">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-xs-4" style="font-weight:bold;">Type Industrie:</label>
                        <div class="col-md-3" id="typeIndustrie">
                        </div>
                        <div class="col-md-3" id="typeIndustrieRs">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-xs-4" style="font-weight:bold;">Type d'établissement santé:</label>
                        <div class="col-md-3" id="typeEtablissementSante">
                        </div>
                        <div class="col-md-3" id="typeEtablissementSanteRs">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-xs-4" style="font-weight:bold;">Type d'accueil (Santé):</label>
                        <div class="col-md-3" id="typeAcceuil">
                        </div>
                        <div class="col-md-3" id="typeAcceuilRs">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-xs-4" style="font-weight:bold;">Capacité d'accueil (Santé):</label>
                        <div class="col-md-3" id="capaciteAcceuilSante">
                        </div>
                        <div class="col-md-3" id="capaciteAcceuilSanteRs">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-xs-4" style="font-weight:bold;">Type d'établissement HR:</label>
                        <div class="col-md-3" id="typeEtablissementHR">
                        </div>
                        <div class="col-md-3" id="typeEtablissementHRRs">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-xs-4" style="font-weight:bold;">Nombre d'étoile (HR):</label>
                        <div class="col-md-3" id="nombreEtoile">
                        </div>
                        <div class="col-md-3" id="nombreEtoileRs">
                        </div>
                    </div>

                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-4" style="font-weight:bold;">Type d'enseignement:</label>
                        <div class="col-md-3" id="typeEnseignement">
                        </div>
                        <div class="col-md-3" id="typeEnseignementRs">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-xs-4" style="font-weight:bold;">Capacité d'accueil (Enseignement):</label>
                        <div class="col-md-3" id="capaciteAcceuilEnseignement">
                        </div>
                        <div class="col-md-3" id="capaciteAcceuilEnseignementRs">
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <label class="col-xs-4" style="font-weight:bold;">Type de loisirs:</label>
                        <div class="col-md-3" id="typeLoisirs">
                        </div>
                        <div class="col-md-3" id="typeLoisirsRs">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-xs-4" style="font-weight:bold;">Frigorifique (Stockage):</label>
                        <div class="col-md-3" id="frigorifique">
                        </div>
                        <div class="col-md-3" id="frigorifiqueRs">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-xs-4" style="font-weight:bold;">Plateforme Logistique (Stockage):</label>
                        <div class="col-md-3" id="plateformeLogistique">
                        </div>
                        <div class="col-md-3" id="plateformeLogistiqueRs">
                        </div>
                    </div>
                    <br />
                    
                    
                    
                </div>
                                
            </div>

        </div>
    </div>


    <div class="row" id="Graphs" hidden>
        <div class="col-md-9">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title"><i class="icon-stats-bars3"></i> <span style="font-size: 16px;">Répartition Moyenne des Items Vecteur Plus Typologie</span></h6><hr />
                </div>
                <div class="container-fluid">
                    <div>
                        <div id="myChart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title"><i class="icon-pie-chart"></i> <span style="font-size: 16px;">Moyenne des Notes </span></h6><hr />
                </div>
                <div class="container-fluid">
                    <div>
                        <div id="myChartPie"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="GraphsRs" hidden>
        <div class="col-md-9">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title"><i class="icon-stats-bars3"></i> <span style="font-size: 16px;">Répartition Moyenne des Items Vecteur Plus Typologie - <span style="color:red">Résultat</span></span></h6><hr />
                </div>
                <div class="container-fluid">
                    <div>
                        <div id="myChartRs"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title"><i class="icon-pie-chart"></i> <span style="font-size: 16px;">Moyenne des Notes - <span style="color:red">Résultat</span></span></h6><hr />
                </div>
                <div class="container-fluid">
                    <div>
                        <div id="myChartPieRs"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        var debut = '01/01/2020';
        var fin = '31/01/2020';
        $(function () {
            $('#datetimes').daterangepicker({

                opens: 'right',
                format: 'DD/MM/YYYY',
                locale: {

                    "daysOfWeek": [
              "Dim",
              "Lun",
              "Mar",
              "Mer",
              "Jeu",
              "Ven",
              "Sam"
                    ],
                    "monthNames": [
                        "Jan",
                        "Fev",
                        "Mar",
                        "Avr",
                        "Mai",
                        "Ju",
                        "Jui",
                        "Aou",
                        "Sep",
                        "Oct",
                        "Nov",
                        "December"
                    ],
                },
                lan: 'fr',


            },
             function (start, end, label) {
                 debut = start.format('DD/MM/YYYY');
                 fin = end.format('DD/MM/YYYY');
             }
            );
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(document).on("click", "#Save", function () {
                $.ajax({
                    url: '/EvaluationVecteurPlus/GetReportsTypologie',
                    type: 'GET',
                    datatype: 'json',
                    data: {
                        username: $("#agent").val(),
                     dateDebut: debut,
                      dateFin: fin
                    },
                    async: true,
                    success: function (data) {
                        //Variables
                        var note = data.note;
                        var noteRs = data.noteRs;
                        var NbreEvaluations = data.nbreEvaluations;

                        if (data.nombreLogements >= 0) {
                            var nombreLogements = data.nombreLogements + "%";
                        } else { var nombreLogements = "NE" }

                        if (data.nombreSociaux >= 0) {
                            var nombreSociaux = data.nombreSociaux + "%";
                        } else { var nombreSociaux = "NE" }

                        if (data.typeCommerce >= 0) {
                            var typeCommerce = data.typeCommerce + "%";
                        } else { var typeCommerce = "NE" }

                        if (data.typeIndustrie >= 0) {
                            var typeIndustrie = data.typeIndustrie + "%";
                        } else { var typeIndustrie = "NE" }

                        if (data.typeEtablissementSante >= 0) {
                            var typeEtablissementSante = data.typeEtablissementSante + "%";
                        } else { var typeEtablissementSante = "NE" }

                        if (data.typeAcceuil >= 0) {
                            var typeAcceuil = data.typeAcceuil + "%";
                        } else { var typeAcceuil = "NE" }

                        if (data.capaciteAcceuilSante >= 0) {
                            var capaciteAcceuilSante = data.capaciteAcceuilSante + "%";
                        } else { var capaciteAcceuilSante = "NE" }

                        if (data.typeEtablissementHR >= 0) {
                            var typeEtablissementHR = data.typeEtablissementHR + "%";
                        } else { var typeEtablissementHR = "NE" }

                        if (data.nombreEtoile >= 0) {
                            var nombreEtoile = data.nombreEtoile + "%";
                        } else { var nombreEtoile = "NE" }

                        if (data.typeEnseignement >= 0) {
                            var typeEnseignement = data.typeEnseignement + "%";
                        } else { var typeEnseignement = "NE" }

                        if (data.capaciteAcceuilEnseignement >= 0) {
                            var capaciteAcceuilEnseignement = data.capaciteAcceuilEnseignement + "%";
                        } else { var capaciteAcceuilEnseignement = "NE" }

                        if (data.typeLoisirs >= 0) {
                            var typeLoisirs = data.typeLoisirs + "%";
                        } else { var typeLoisirs = "NE" }

                        if (data.frigorifique >= 0) {
                            var frigorifique = data.frigorifique + "%";
                        } else { var frigorifique = "NE" }

                        if (data.plateformeLogistique >= 0) {
                            var plateformeLogistique = data.plateformeLogistique + "%";
                        } else { var plateformeLogistique = "NE" }                       

                        //

                        if (data.nombreLogementsRs >= 0) {
                            var nombreLogementsRs = data.nombreLogementsRs + "%";
                        } else { var nombreLogementsRs = "NE" }

                        if (data.nombreSociauxRs >= 0) {
                            var nombreSociauxRs = data.nombreSociauxRs + "%";
                        } else { var nombreSociauxRs = "NE" }

                        if (data.typeCommerceRs >= 0) {
                            var typeCommerceRs = data.typeCommerceRs + "%";
                        } else { var typeCommerceRs = "NE" }

                        if (data.typeIndustrieRs >= 0) {
                            var typeIndustrieRs = data.typeIndustrieRs + "%";
                        } else { var typeIndustrieRs = "NE" }

                        if (data.typeEtablissementSanteRs >= 0) {
                            var typeEtablissementSanteRs = data.typeEtablissementSanteRs + "%";
                        } else { var typeEtablissementSanteRs = "NE" }

                        if (data.typeAcceuilRs >= 0) {
                            var typeAcceuilRs = data.typeAcceuilRs + "%";
                        } else { var typeAcceuilRs = "NE" }

                        if (data.capaciteAcceuilSanteRs >= 0) {
                            var capaciteAcceuilSanteRs = data.capaciteAcceuilSanteRs + "%";
                        } else { var capaciteAcceuilSanteRs = "NE" }

                        if (data.typeEtablissementHRRs >= 0) {
                            var typeEtablissementHRRs = data.typeEtablissementHRRs + "%";
                        } else { var typeEtablissementHRRs = "NE" }

                        if (data.nombreEtoileRs >= 0) {
                            var nombreEtoileRs = data.nombreEtoileRs + "%";
                        } else { var nombreEtoileRs = "NE" }

                        if (data.typeEnseignementRs >= 0) {
                            var typeEnseignementRs = data.typeEnseignementRs + "%";
                        } else { var typeEnseignementRs = "NE" }

                        if (data.capaciteAcceuilEnseignementRs >= 0) {
                            var capaciteAcceuilEnseignementRs = data.capaciteAcceuilEnseignementRs + "%";
                        } else { var capaciteAcceuilEnseignementRs = "NE" }

                        if (data.typeLoisirsRs >= 0) {
                            var typeLoisirsRs = data.typeLoisirsRs + "%";
                        } else { var typeLoisirsRs = "NE" }

                        if (data.frigorifiqueRs >= 0) {
                            var frigorifiqueRs = data.frigorifiqueRs + "%";
                        } else { var frigorifiqueRs = "NE" }

                        if (data.plateformeLogistiqueRs >= 0) {
                            var plateformeLogistiqueRs = data.plateformeLogistiqueRs + "%";
                        } else { var plateformeLogistiqueRs = "NE" }

                        //Affichage
                        $("#Details").show();
                        $("#Graphs").show();
                        $("#GraphsRs").show();

                        $("#nombreLogements").html(nombreLogements);
                        $("#nombreSociaux").html(nombreSociaux);
                        $("#typeCommerce").html(typeCommerce);
                        $("#typeIndustrie").html(typeIndustrie);
                        $("#typeEtablissementSante").html(typeEtablissementSante);
                        $("#typeAcceuil").html(typeAcceuil);
                        $("#capaciteAcceuilSante").html(capaciteAcceuilSante);
                        $("#typeEtablissementHR").html(typeEtablissementHR);
                        $("#nombreEtoile").html(nombreEtoile);
                        $("#typeEnseignement").html(typeEnseignement);
                        $("#capaciteAcceuilEnseignement").html(capaciteAcceuilEnseignement);
                        $("#typeLoisirs").html(typeLoisirs);
                        $("#frigorifique").html(frigorifique);
                        $("#plateformeLogistique").html(plateformeLogistique);                        
                        //
                        $("#nombreLogementsRs").html(nombreLogementsRs);
                        $("#nombreSociauxRs").html(nombreSociauxRs);
                        $("#typeCommerceRs").html(typeCommerceRs);
                        $("#typeIndustrieRs").html(typeIndustrieRs);
                        $("#typeEtablissementSanteRs").html(typeEtablissementSanteRs);
                        $("#typeAcceuilRs").html(typeAcceuilRs);
                        $("#capaciteAcceuilSanteRs").html(capaciteAcceuilSanteRs);
                        $("#typeEtablissementHRRs").html(typeEtablissementHRRs);
                        $("#nombreEtoileRs").html(nombreEtoileRs);
                        $("#typeEnseignementRs").html(typeEnseignementRs);
                        $("#capaciteAcceuilEnseignementRs").html(capaciteAcceuilEnseignementRs);
                        $("#typeLoisirsRs").html(typeLoisirsRs);
                        $("#frigorifiqueRs").html(frigorifiqueRs);
                        $("#plateformeLogistiqueRs").html(plateformeLogistiqueRs);

                        var namesList = ["Nombre Logements", "Nombre sociaux", "Type Commerce", "Type Industrie", "Type d'établissement santé", "Type d'accueil (Santé)", "Capacité d'accueil (Santé)", "Type d'établissement HR", "Nombre d'étoile (HR)",
                            "Type d'enseignement", "Capacité d'accueil (Enseignement)", "Type de loisirs", "Frigorifique (Stockage)", "Plateforme Logistique (Stockage)"];

                        var values = [data.nombreLogements, data.nombreSociaux, data.typeCommerce, data.typeIndustrie, data.typeEtablissementSante, data.typeAcceuil, data.capaciteAcceuilSante, data.typeEtablissementHR,
                            data.nombreEtoile, data.typeEnseignement, data.capaciteAcceuilEnseignement, data.typeLoisirs, data.frigorifique, data.plateformeLogistique];
                        //
                        var namesListRs = ["Nombre Logements", "Nombre sociaux", "Type Commerce", "Type Industrie", "Type d'établissement santé", "Type d'accueil (Santé)", "Capacité d'accueil (Santé)", "Type d'établissement HR", "Nombre d'étoile (HR)",
                            "Type d'enseignement", "Capacité d'accueil (Enseignement)", "Type de loisirs", "Frigorifique (Stockage)", "Plateforme Logistique (Stockage)"];
                        var valuesRs = [data.nombreLogementsRs, data.nombreSociauxRs, data.typeCommerceRs, data.typeIndustrieRs, data.typeEtablissementSanteRs, data.typeAcceuilRs, data.capaciteAcceuilSanteRs, data.typeEtablissementHRRs,
                            data.nombreEtoileRs, data.typeEnseignementRs, data.capaciteAcceuilEnseignementRs, data.typeLoisirsRs, data.frigorifiqueRs, data.plateformeLogistiqueRs];
                            

                        var valuesList = [];
                        $.each(values, function (i, t) {
                            if (t >= 0) {
                                valuesList.push(t);
                            }
                            else {
                                valuesList.push(null);
                            }
                        })
                        //

                        var valuesListRs = [];
                        $.each(valuesRs, function (i, t) {
                            if (t >= 0) {
                                valuesListRs.push(t);
                            }
                            else {
                                valuesListRs.push(null);
                            }
                        })

                        let chartConfig = {
                            backgroundColor: '#ecf2f6',
                            graphset: [
                              {
                                  type: 'bar',
                                  backgroundColor: '#fff',
                                  borderWidth: '1px',
                                  borderColor: '#dae5ec',
                                  width: '100%',
                                  height: '100%',
                                  x: '0%',
                                  y: '0%',

                                  plot: {
                                      tooltip: {
                                          padding: '5px 10px',
                                          backgroundColor: '#707e94',
                                          borderRadius: '6px',
                                          fontColor: '#fff',
                                          fontFamily: 'Arial',
                                          fontSize: '11px',
                                          shadow: false
                                      },
                                      animation: {
                                          delay: 300,
                                          effect: 'ANIMATION_SLIDE_BOTTOM'
                                      },
                                      barWidth: '28px',
                                      hoverState: {
                                          visible: false
                                      }
                                  },
                                  plotarea: {
                                      margin: '45px 20px 120px 45px'
                                  },
                                  scaleX: {
                                      values: namesList,
                                      guide: {
                                          visible: false
                                      },
                                      item: {
                                          angle: -50,
                                          paddingTop: '2px',
                                          fontColor: '#000',
                                          fontFamily: 'Arial',
                                          fontSize: '11px'
                                      },
                                      itemsOverlap: true,
                                      lineColor: '#d2dae2',
                                      maxItems: 9999,
                                      offsetY: '1px',
                                      tick: {
                                          lineColor: '#d2dae2',
                                          visible: false
                                      }
                                  },
                                  scaleY: {
                                      values: '0:100:50',
                                      guide: {
                                          rules: [
                                                      {
                                                          lineWidth: '0px',
                                                          rule: '%i == 0'
                                                      },
                                                      {
                                                          alpha: 0.4,
                                                          lineColor: '#d2dae2',
                                                          lineStyle: 'solid',
                                                          lineWidth: '1px',
                                                          rule: '%i > 0'
                                                      }
                                          ]
                                      },
                                      item: {
                                          paddingRight: '5px',
                                          fontColor: '#8391a5',
                                          fontFamily: 'Arial',
                                          fontSize: '10px'
                                      },
                                      lineColor: 'none',
                                      maxItems: 4,
                                      maxTicks: 4,
                                      tick: {
                                          visible: false
                                      }
                                  },
                                  series: [
                                    {
                                        values: valuesList,
                                        backgroundColor: '#f3950d',
                                        valueBox: [{
                                            placement: "top-out",
                                            color: "#000",
                                            text: "%v%",
                                            fontSize: 11
                                        }]
                                    }
                                  ]
                              }
                            ]
                        }

                        //
                        let chartConfigRs = {
                            backgroundColor: '#ecf2f6',
                            graphset: [
                              {
                                  type: 'bar',
                                  backgroundColor: '#fff',
                                  borderWidth: '1px',
                                  borderColor: '#dae5ec',
                                  width: '100%',
                                  height: '100%',
                                  x: '0%',
                                  y: '0%',

                                  plot: {
                                      tooltip: {
                                          padding: '5px 10px',
                                          backgroundColor: '#707e94',
                                          borderRadius: '6px',
                                          fontColor: '#fff',
                                          fontFamily: 'Arial',
                                          fontSize: '11px',
                                          shadow: false
                                      },
                                      animation: {
                                          delay: 300,
                                          effect: 'ANIMATION_SLIDE_BOTTOM'
                                      },
                                      barWidth: '28px',
                                      hoverState: {
                                          visible: false
                                      }
                                  },
                                  plotarea: {
                                      margin: '45px 20px 120px 45px'
                                  },
                                  scaleX: {
                                      values: namesListRs,
                                      guide: {
                                          visible: false
                                      },
                                      item: {
                                          angle: -50,
                                          paddingTop: '2px',
                                          fontColor: '#000',
                                          fontFamily: 'Arial',
                                          fontSize: '11px'
                                      },
                                      itemsOverlap: true,
                                      lineColor: '#d2dae2',
                                      maxItems: 9999,
                                      offsetY: '1px',
                                      tick: {
                                          lineColor: '#d2dae2',
                                          visible: false
                                      }
                                  },
                                  scaleY: {
                                      values: '0:100:50',
                                      guide: {
                                          rules: [
                                                      {
                                                          lineWidth: '0px',
                                                          rule: '%i == 0'
                                                      },
                                                      {
                                                          alpha: 0.4,
                                                          lineColor: '#d2dae2',
                                                          lineStyle: 'solid',
                                                          lineWidth: '1px',
                                                          rule: '%i > 0'
                                                      }
                                          ]
                                      },
                                      item: {
                                          paddingRight: '5px',
                                          fontColor: '#8391a5',
                                          fontFamily: 'Arial',
                                          fontSize: '10px'
                                      },
                                      lineColor: 'none',
                                      maxItems: 4,
                                      maxTicks: 4,
                                      tick: {
                                          visible: false
                                      }
                                  },
                                  series: [
                                    {
                                        values: valuesListRs,
                                        backgroundColor: '#0d8282',
                                        valueBox: [{
                                            placement: "top-out",
                                            color: "#000",
                                            text: "%v%",
                                            fontSize: 11
                                        }]
                                    }
                                  ]
                              }
                            ]
                        }

                        zingchart.render({
                            id: 'myChart',
                            data: chartConfig,
                            height: '500',
                            width: '100%'
                        });

                        zingchart.render({
                            id: 'myChartRs',
                            data: chartConfigRs,
                            height: '500',
                            width: '100%'
                        });


                        var myConfig = {
                            "background-color": "#FFF",
                            "graphset": [

                                {
                                    "type": "pie",
                                    "width": "105%",
                                    "x": "-7%",
                                    "background-color": "#FFF",
                                    "title": {
                                        "background-color": "none",
                                        "font-weight": "normal",
                                        "font-family": "Arial",
                                        "font-color": "#ffffff",
                                        "height": "30px"
                                    },

                                    "plotarea": {
                                        "margin": "20 280 25 30"
                                    },

                                    "plot": {
                                            "animation": {
                                            "delay": 0,
                                            "effect": 2,
                                            "speed": 700,
                                            "method": 6,
                                            "sequence": 1
                                        },
                                        refAngle: 270,

                                    },
                                    "series": [
                                        {
                                            "text": "Moyenne Notes",
                                            "values": [data.note],
                                            "background-color": "#35D884",
                                            "border-color": "#454754",
                                            "border-width": "1px",
                                            "shadow": 0,
                                            "tooltip": {
                                                "background-color": "#35D884",
                                                "font-color": "#000",
                                                "border-radius": "6px",
                                                "shadow": false,
                                                "padding": "5px 10px"
                                            },
                                            valueBox: [{
                                                placement: "in",
                                                color: "#000",
                                                text: "%t: %v %",
                                                fontSize: 14
                                            }]
                                        },

                                              {
                                                  "text": "",
                                                  "values": [
                                                100 - data.note
                                                  ],
                                                  "background-color": "#E8E8E8",
                                                  "border-color": "#454754",
                                                  "border-width": "1px",
                                                  "shadow": 0,
                                                  "tooltip": {
                                                      "background-color": "#E8E8E8",
                                                      "font-color": "#000",
                                                      "border-radius": "6px",
                                                      "shadow": false,
                                                      "padding": "5px 10px"
                                                  },
                                                  valueBox: [{
                                                      placement: "in",
                                                      color: "#E8E8E8",
                                                      text: "%t: %v %",
                                                      fontSize: 0
                                                  }]
                                              }

                                    ]
                                },


                            ]
                        }

                        zingchart.render({
                            id: 'myChartPie',
                            data: myConfig,
                            height: 500,
                            width: 670
                        });


                        var myConfigRs = {
                            "background-color": "#FFF",
                            "graphset": [

                                {
                                    "type": "pie",
                                    "width": "105%",
                                    "x": "-7%",
                                    "background-color": "#FFF",
                                    "title": {
                                        "background-color": "none",
                                        "font-weight": "normal",
                                        "font-family": "Arial",
                                        "font-color": "#ffffff",
                                        "height": "30px"
                                    },

                                    "plotarea": {
                                        "margin": "20 280 25 30"
                                    },

                                    "plot": {
                                        "animation": {
                                            "delay": 0,
                                            "effect": 2,
                                            "speed": 700,
                                            "method": 6,
                                            "sequence": 1
                                        },
                                        refAngle: 270,

                                    },
                                    "series": [
                                        {
                                            "text": "Moyenne Notes",
                                            "values": [data.noteRs],
                                            "background-color": "#b535d8",
                                            "border-color": "#454754",
                                            "border-width": "1px",
                                            "shadow": 0,
                                            "tooltip": {
                                                "background-color": "#35D884",
                                                "font-color": "#000",
                                                "border-radius": "6px",
                                                "shadow": false,
                                                "padding": "5px 10px"
                                            },
                                            valueBox: [{
                                                placement: "in",
                                                color: "#000",
                                                text: "%t: %v %",
                                                fontSize: 14
                                            }]
                                        },

                                              {
                                                  "text": "",
                                                  "values": [
                                                100 - data.noteRs
                                                  ],
                                                  "background-color": "#E8E8E8",
                                                  "border-color": "#454754",
                                                  "border-width": "1px",
                                                  "shadow": 0,
                                                  "tooltip": {
                                                      "background-color": "#E8E8E8",
                                                      "font-color": "#000",
                                                      "border-radius": "6px",
                                                      "shadow": false,
                                                      "padding": "5px 10px"
                                                  },
                                                  valueBox: [{
                                                      placement: "in",
                                                      color: "#E8E8E8",
                                                      text: "%t: %v %",
                                                      fontSize: 0
                                                  }]
                                              }

                                    ]
                                },


                            ]
                        }

                        zingchart.render({
                            id: 'myChartPieRs',
                            data: myConfigRs,
                            height: 500,
                            width: 670
                        });


                        let chartConfig3 = {

                            graphset: [

                                {
                                    type: 'null',
                                    backgroundColor: '#fbfcf7',
                                    borderColor: '#384653',
                                    borderRadius: '4px',
                                    borderWidth: '1px',
                                    width: '10%',
                                    height: '90%',
                                    x: '33.2%',
                                    y: '3%',
                                    title: {
                                        text: 'Nombre des Evaluations',
                                        backgroundColor: 'none',
                                        fontColor: '#384653',
                                        fontSize: '12px',
                                        height: '70px',
                                        textAlign: 'center'
                                    },
                                    subtitle: {
                                        text: NbreEvaluations,
                                        paddingTop: '35%',
                                        bold: true,
                                        fontColor: '#dd655f',
                                        fontSize: '24px',
                                        height: '40px',
                                        textAlign: 'center'
                                    }
                                },
                              {
                                  type: 'null',
                                  backgroundColor: '#fbfcf7',
                                  borderColor: '#384653',
                                  borderRadius: '4px',
                                  borderWidth: '1px',
                                  width: '10%',
                                  height: '90%',
                                  x: '49%',
                                  y: '3%',
                                  title: {
                                      text: 'Moyenne des Notes',
                                      backgroundColor: 'none',
                                      fontColor: '#384653',
                                      fontSize: '12px',
                                      height: '70px',
                                      textAlign: 'center'
                                  },
                                  subtitle: {
                                      text: note + '%',
                                      paddingTop: '35%',
                                      bold: true,
                                      fontColor: '#4cc2bb',
                                      fontSize: '24px',
                                      height: '40px',
                                      textAlign: 'center'
                                  }
                              },
                              {
                                  type: 'null',
                                  backgroundColor: '#fbfcf7',
                                  borderColor: '#384653',
                                  borderRadius: '4px',
                                  borderWidth: '1px',
                                  width: '10%',
                                  height: '90%',
                                  x: '64.2%',
                                  y: '3%',
                                  title: {
                                      text: 'Moyenne des Résultats',
                                      backgroundColor: 'none',
                                      fontColor: '#384653',
                                      fontSize: '12px',
                                      height: '70px',
                                      textAlign: 'center'
                                  },
                                  subtitle: {
                                      text: noteRs + '%',
                                      paddingTop: '35%',
                                      bold: true,
                                      fontColor: '#b02c49',
                                      fontSize: '24px',
                                      height: '40px',
                                      textAlign: 'center'
                                  }
                              }
                            ]
                        };
                        zingchart.render({
                            id: 'myChart3',
                            data: chartConfig3,
                            height: '120',
                            width: '100%'
                        });

                    },
                    error: function () { },
                });
            })
        })
    </script>

}

@section testProfile{

    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src=@Model.Url alt="">
        <span>@Model.userName</span>
        <i class="caret"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">

        <li><a href="@Url.Action("logout", "Authentification")"><i class="icon-switch2"></i> Logout</a></li>
    </ul>
}
@section sidebarProfile{

    <a href="#" class="media-left"><img src=@Model.Url class="img-circle img-sm" alt=""></a>
    <div class="media-body">
        <span class="media-heading text-semibold">@Model.userName</span>
        <div class="text-size-mini text-muted">
            <i class="icon-user text-size-small"></i> &nbsp;@Model.pseudoNameEmp
        </div>
    </div>
    <div class="media-right media-middle">

    </div>
}
@section pagetitle{
    <h4> <span class="text-semibold">Espace Qualité</span> -  Reportings</h4>
}
@section pagetitlebody{
    <li><a href="#"><i class="icon-home2 position-left"></i> Reportings</a></li>
    <li class="active">Vecteur Plus</li>
    <li class="active">Typologie</li>
}
