@model MVCWEB.Models.DirectoryViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}

<h2>Details</h2>

@section test{

 
<div class="form-group">
    <div class="col-lg-10">
        @Html.TextBox("test", null, new { @class = "form-control", @id = "typeGenerator" })




    </div>
    <div class="col-md-10">
        @Html.DropDownList("typeGenerator", Model.utilisateurs, htmlAttributes: new { @class = "bootstrap-select", @id = "typeGenerator", @name = "typeGenerator", style = "data-width: 360px;", selected = "selected" })
        @Html.ValidationMessageFor(model => model.utilisateurs, "", new { @class = "text-danger" })
    </div>

</div>
<br/><br />
<br />
<br />
<br />
<br />
<br />

    <div class="row">
        @foreach (var item in @ViewBag.files)
        {
            <div class="col-lg-3 col-sm-6">

                <div class="thumbnail" style="height:300px;width:300px;">


                    <div class="thumb thumb-rounded" >
                        <a href="@Url.Action("Details", "Directory", new { enctype = "multipart/form-data" ,Value=item})" @*id="statimg" data-toggle="modal" data-id="@item.Id"*@>
                            <img href="#" src="~/Content/smart_folders_icon.png" alt="">
                        </a>
                        @*<div class="caption-overflow">
                                <span>
                                    <a href="@item.image" data-popup="lightbox" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-plus3"></i></a>
                                    <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-link2"></i></a>
                                </span>
                            </div>*@

                    </div>

                    <div class="caption text-center">

                        <h6 class="no-margin-top text-semibold"><a href="#" class="text-default">@Html.DisplayFor(modelItem => item)</a></h6>



                    </div>

                </div>

            </div>
        }
    @foreach (var item in @ViewBag.testsFiles)
    {
        <div class="col-lg-3 col-sm-6">

            <div class="thumbnail" style="height:300px;width:300px;">


                <div class="thumb thumb-rounded">

                    <a href="" @*id="statimg" data-toggle="modal" data-id="@item.Id"*@>
                        <img href="#" src="~/Content/conffile.png" alt="">
                    </a>

                    @*<div class="caption-overflow">
                            <span>
                                <a href="@item.image" data-popup="lightbox" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-plus3"></i></a>
                                <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-link2"></i></a>
                            </span>
                        </div>*@

                </div>

                <div class="caption text-center">
                    @*@Html.ActionLink("Details", "Details", "Directory", new { value = item }, new { enctype = "multipart/form-data" })*@


                    <h6 class="no-margin-top text-semibold"><a href="#" class="text-default">@Html.DisplayFor(modelItem => item)</a></h6>



                </div>

            </div>

        </div>
    }
</div>
}
