<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<meta http-equiv="refresh" content="60" />*@
    <title>InfoProd - Responsive Web Application Kit by InfoProd-Team</title>
    <!-- Global stylesheets -->
    @*<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">*@
    <link href="/Content/template/Layout 1/LTR/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/Content/template/Layout 1/LTR/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/Content/template/Layout 1/LTR/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/Content/template/Layout 1/LTR/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/Content/template/Layout 1/LTR/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/core/libraries/bootstrap.min.js"></script>
    @*<script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/loaders/blockui.min.js"></script>*@
    <!-- /core JS files -->
    <!-- Theme JS files -->
    @*<script type="text/javascript" src="http://echarts.baidu.com/dist/echarts.min.js"></script>*@
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    @*<script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/forms/styling/switchery.min.js"></script>*@
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/pickers/daterangepicker.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/pages/form_multiselect.js"></script>
    @*<script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/notifications/pnotify.min.js"></script>*@
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/pages/form_bootstrap_select.js"></script>
    @*<script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/pages/dashboard.js"></script>*@
    <!-- /theme JS files -->
    @*<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>*@
    @*<script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/core/libraries/jquery.min.js"></script>*@
    @*<script src="http://echarts.baidu.com/dist/echarts.min.js"></script>*@


    @*<script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/echarts.js"></script>
        <script type="text/javascript" src="~/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/chart/pie.js"></script>
        <script type="text/javascript" src="~/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/chart/bar.js"></script>
        <script type="text/javascript" src="~/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/chart/radar.js"></script>
        <script type="text/javascript" src="~/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/chart/gauge.js"></script>
        <script type="text/javascript" src="~/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/chart/K.js"></script>
        <script type="text/javascript" src="~/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/chart/line.js"></script>
        <script type="text/javascript" src="~/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/chart/scatter.js"></script>
        <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/theme/limitless.js"></script>
        <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/charts/echarts/combinations.js"></script>*@
    <!-- /core JS files -->
    <!-- Theme JS files -->
    @*<script type="text/javascript" src="assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/ui/fullcalendar/fullcalendar.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/ui/fullcalendar/lang/ar.js"></script>
        <script type="text/javascript" src="assets/js/core/app.js"></script>
        <script type="text/javascript" src="assets/js/pages/extra_fullcalendar_advanced.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="/signalr/hubs"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/notifications/pnotify.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/pages/components_notifications_pnotify.js"></script>
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var chat = $.connection.notificationHub;
            chat.client.sendMessage = function (name,message) {

                //$('#notif').append(
                //    '<strong>:&nbsp;&nbsp;' + message + '</strong></li>'
                //    );
                var notice = new PNotify({
                    title: name,
                    text: message,
                    addclass: 'bg-slate',
                    hide: false,
                    buttons: {
                        closer: false,
                        sticker: false
                    }
                });
                notice.get().click(function () {
                    notice.remove();
                });
            };

            // Start the connection.
            $.connection.hub.start().done(function () {

                    //chat.server.broadcast("salah");

            });
        });
    </script>
    <style type="text/css">
        #myChart-license-text {
            display: none;
            color: white;
        }
    </style>
    <style type="text/css">
        #myChartFiche-license-text {
            display: none;
            color: white;
        }
    </style>
    <style type="text/css">
        #myChartTelephonie-license-text {
            display: none;
            color: white;
        }
    </style>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    @*<script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>*@
</head>
<body>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse" style="color:chartreuse">
        <div class="navbar-header">
            <a class="navbar-brand" style="height:auto"><img src="/Content/template/Layout 1/LTR/assets/images/logoPng.png" style="height:80px"></a>
            <div class="navbar-brand" style="position: absolute;left: 35%;font-size:40px;padding-top:39px;font-family:'Baskerville Old Face';font-weight:bold"><span style="color:gray">Bienvenue sur </span><span style="color:#ff0000"> INFO</span><span style="color:gray">-PROD QUALITE</span></div>
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile" style="padding-top:30px;">
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
                @*@{
                        String nbAlertes = @HttpContext.Current.Session["nbAlertesAgent"].ToString();
                        int nbAlertesTest = Convert.ToInt32(nbAlertes);
                    }*@
                @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-mail-read"></i>
                        <span class="visible-xs-inline-block position-right">Notifications</span>
                        <span id="notif" class="badge bg-warning-400">nbAlertesTest</span>
                    </a>
                    @{

                        var listBackFromSession = (List<MVCWEB.Models.AlerteViewModel>)Session["alertesAgent"];
                        // do what you want

                    }*@
                @*<div class="dropdown-menu dropdown-content">
                            <div class="dropdown-content-heading">
                                Notifications
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-sync"></i></a></li>
                                </ul>
                            </div>
                            <ul class="media-list dropdown-content-body width-350">
                                @foreach (var item in @listBackFromSession)
                                {
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-mail-read"></i></a>
                                        </div>
                                        <div class="media-body">
                                            Reponse Alerte de la part de  <a href="#">@item.reciverName</a> message est @item.reponseAlerte   @Html.ActionLink("Marquer Comme Lu", "UpdateAlerte", "Alerte", new { Id = @item.Id }, new { enctype = "multipart/form-data" })
                                            @*<div class="media-annotation">4 minutes ago</div>
                                        </div>
                                    </li>
                                }
                            </ul>
                            <div class="dropdown-content-footer">

                            </div>
                        </div>
                    </li>*@
            </ul>


            @RenderSection("Notifications", required: false)



            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown dropdown-user">
                    @RenderSection("testProfile", required: false)


                    @*@RenderSection("testProfile", required: false)*@
                    @*@{
                            String username = @HttpContext.Current.Session["userName"].ToString();
                        }
                        @{
                            String image = @HttpContext.Current.Session["imageEmp"].ToString();
                        }
                        @{
                            String pseudoname = @HttpContext.Current.Session["pseudoname"].ToString();
                        }*@
                    @*<a class="dropdown-toggle" data-toggle="dropdown">
                            <img src=@image alt="">
                            <span>@username</span>
                            <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">

                            <li><a href="@Url.Action("logout", "Authentification")"><i class="icon-switch2"></i> Logout</a></li>
                        </ul>*@
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container" style="min-height:925px">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main" style="background-color:black">
                <div class="sidebar-content" style="background-color:black">
                    <!-- User menu -->
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                @RenderSection("sidebarProfile", required: false)


                                @*<a href="#" class="media-left"><img src="/Content/template/Layout 1/LTR/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                                    <div class="media-body">
                                        <span class="media-heading text-semibold">Victoria Baker</span>
                                        <div class="text-size-mini text-muted">
                                            <i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA
                                        </div>
                                    </div>*@
                                @*@RenderSection("testProfileLeft", required: false)*@
                                @*<a href="#" class="media-left"><img src=@image class="img-circle img-sm" alt=""></a>
                                    <div class="media-body">
                                        <span class="media-heading text-semibold">@username</span>
                                        <div class="text-size-mini text-muted">
                                            <i class="icon-user text-size-small"></i> &nbsp;@pseudoname
                                        </div>
                                    </div>
                                    <div class="media-right media-middle">
                                        <ul class="icons-list">
                                            <li>
                                                <a href="#"><i class="icon-cog3"></i></a>
                                            </li>
                                        </ul>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible" style="background-color:black">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">
                                @*<li class="active"><a href="@Url.Action("AcceuilAgentQualite", "Directory")"><i class="icon-home4"></i> <span>Espace Qualité</span></a></li>*@
                                <li>
                                    <a href="@Url.Action("listeSitesAgentQualite", "Superviseur")"><i class="glyphicon glyphicon-volume-up"></i> <span>Accès aux Enregistrements </span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-book"></i> <span>Grille d'écoute et Référentiel</span></a>
                                    <ul>
                                        <li>
                                            <a href="#">DIFFUSION</a>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("ReabRef", "Directory")">Reab Référentiel </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("PromoRef", "Directory")"> Promo Référentiel </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="#">CUSTOMER SERVICE</a>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("Ref_BO_SCDiff", "Directory")"> BackOffice SC GISI Référentiel </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Ref_FO_SCDiff", "Directory")">FrontOffice SC GISI Référentiel </a>
                                                </li>
                                            </ul>
                                        </li> 

                                    </ul>

                                </li>
                             
                                <li><a href="@Url.Action("BackOfficeSCGISI", "EvaluationSCGISI")"><i class="icon-accessibility"></i><span> Evaluation Back Office</span></a></li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-briefcase"></i> <span>Historique</span></a>
                                    <ul>
                                        <li>
                                            <a href="#">Par Collaborateur</a>
                                            <ul>
                                                <li><a href="@Url.Action("Historique", "Evaluation")">Diffusion</a></li>
                                                <li>
                                                    <a href="#">Customer Service</a>
                                                    <ul>
                                                        <li><a href="@Url.Action("HistoriqueFOSCGISI", "EvaluationSCGISI")">Front Office SC GISI</a></li>
                                                        <li><a href="@Url.Action("HistoriqueBOSCGISI", "EvaluationSCGISI")">Back Office SC GISI</a></li>
                                                    </ul>
                                                </li>     
                                            </ul>
                                        </li>
                                      
                                        <li>
                                            <a href="#">Mon Historique</a>
                                            <ul>
                                                <li>
                                              <a href="@Url.Action("ArchiveEvaluationsAgentQualite", "Evaluation")">Diffusion</a>
                                                </li>
                                                <li>
                                                    <a href="#">Customer Service</a>
                                                    <ul>
                                                        <li><a href="@Url.Action("ArchiveAgentQualiteFOSCGISI", "EvaluationSCGISI")">Front Office SC GISI</a></li>
                                                        <li><a href="@Url.Action("ArchiveAgentQualiteBOSCGISI", "EvaluationSCGISI")">Back Office SC GISI</a></li>
                                                    </ul>
                                                </li>     
                                             </ul>
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <a href="@Url.Action("IndexAgentQualite", "Employee")"><i class="glyphicon glyphicon-user"></i> <span>Employés</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->
                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper" style="background-color: white">
                <!-- Page header -->
                <div class="page-header">
                    <div class="page-header-content">
                        <div class="page-title">
                            @RenderSection("pagetitle", required: false)


                            @*<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Acceuil</span> - Tableau de bord</h4>*@
                        </div>
                        <div class="heading-elements">

                        </div>
                    </div>
                    <div class="breadcrumb-line">
                        <ul class="breadcrumb">
                            @RenderSection("pagetitlebody", required: false)


                            @*<li><a href="index.html"><i class="icon-home2 position-left"></i> Acceuil</a></li>
                                <li class="active">Acceuil</li>*@
                        </ul>
                        <ul class="breadcrumb-elements">
                            @RenderSection("extract", required: false)
                            @*<li><a onclick="downloadPDF()"><span class="glyphicon glyphicon-download"></span> Télécharger PDF</a></li>*@

                        </ul>

                    </div>
                </div>
                <!-- /page header -->
                <!-- Content area -->
                <div class="content" style="background-color: white">
                    <!-- Main charts -->
                    <div class="row">
                        @RenderSection("test", required: false)

                        <!-- /dashboard content -->
                        <!-- Footer -->
                        <div style="height:300px;"></div>
                        <div class="footer text-muted">
                            &copy; 2018. <a href="#">INFOPROD QUALITE</a> by <a href="#" target="_blank">DSI-Tunis</a>
                        </div>
                        <!-- /footer -->
                    </div>
                    <!-- /content area -->
                </div>
                <!-- /main content -->
            </div>
            <!-- /page content -->
        </div>
    </div>
    @RenderBody()
    <!-- /page container -->
</body>
</html>
