@model Domain.Entity.GrilleEvaluationFO
@{

    Layout = "~/Views/Shared/_Layout_Qualite.cshtml";
}

@section test{

    <!-- Basic layout-->


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="panel panel-flat">
                <div class="panel-heading">

                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @{
                            List<SelectListItem> list1 = new List<SelectListItem>();
                            list1.Add(new SelectListItem { Text = "OK", Value = "2" });
                            list1.Add(new SelectListItem { Text = "KO", Value = "0" });

                            List<SelectListItem> list2 = new List<SelectListItem>();
                            list2.Add(new SelectListItem { Text = "OK", Value = "3" });
                            list2.Add(new SelectListItem { Text = "KO", Value = "0" });

                            List<SelectListItem> list3 = new List<SelectListItem>();
                            list3.Add(new SelectListItem { Text = "OK", Value = "4" });
                            list3.Add(new SelectListItem { Text = "KO", Value = "0" });

                            List<SelectListItem> list4 = new List<SelectListItem>();
                            list4.Add(new SelectListItem { Text = "OK", Value = "3" });
                            list4.Add(new SelectListItem { Text = "KO", Value = "0" });
                            list4.Add(new SelectListItem { Text = "AA", Value = "1,5" });
                            list4.Add(new SelectListItem { Text = "NE", Value = "-3" });

                            List<SelectListItem> list5 = new List<SelectListItem>();
                            list5.Add(new SelectListItem { Text = "OK", Value = "6" });
                            list5.Add(new SelectListItem { Text = "KO", Value = "0" });

                            List<SelectListItem> list6 = new List<SelectListItem>();
                            list6.Add(new SelectListItem { Text = "OK", Value = "6" });
                            list6.Add(new SelectListItem { Text = "KO", Value = "0" });
                            list6.Add(new SelectListItem { Text = "AA", Value = "3" });

                            List<SelectListItem> list7 = new List<SelectListItem>();
                            list7.Add(new SelectListItem { Text = "OK", Value = "4" });
                            list7.Add(new SelectListItem { Text = "KO", Value = "0" });
                            list7.Add(new SelectListItem { Text = "AA", Value = "2" });
                            list7.Add(new SelectListItem { Text = "NE", Value = "-4" });

                            List<SelectListItem> list8 = new List<SelectListItem>();
                            list8.Add(new SelectListItem { Text = "OK", Value = "4" });
                            list8.Add(new SelectListItem { Text = "KO", Value = "0" });
                            list8.Add(new SelectListItem { Text = "AA", Value = "2" });

                            List<SelectListItem> list9 = new List<SelectListItem>();
                            list9.Add(new SelectListItem { Text = "OK", Value = "5" });
                            list9.Add(new SelectListItem { Text = "KO", Value = "0" });

                            List<SelectListItem> list10 = new List<SelectListItem>();
                            list10.Add(new SelectListItem { Text = "OK", Value = "6" });
                            list10.Add(new SelectListItem { Text = "KO", Value = "0" });
                            list10.Add(new SelectListItem { Text = "NE", Value = "-6" });

                        }
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-2" style="font-weight: bold;">Date d'évaluation: </label>
                                    <div class="input-group col-md-10">
                                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                        @Html.EditorFor(model => model.dateTempEvaluation, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.dateTempEvaluation, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group" hidden>
                                    <label class="col-md-2" style="font-weight: bold;">Nom Agent: </label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.employeeId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.employeeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-2" style="font-weight: bold;">Nom Enregistrement: </label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.enregistrementFullName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.enregistrementFullName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group" hidden>
                                    <label class="col-md-2" style="font-weight: bold;">Score: </label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight: bold;">Accueil:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.presentationIdentification, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.DropDownListFor(model => model.accueil, list1, @Model.accueil)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Analyse/compréhension de la demande:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.objetAppel, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.DropDownListFor(model => model.analyseDemande, list2, @Model.analyseDemande)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Maitrise des outils de travail (loggia/hcub):</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.validationNature, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.validationNature, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.maitriseOutils, list3, @Model.maitriseOutils)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Connaissance du produit:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.calendrier, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.calendrier, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.connaissanceProduit, list4, @Model.connaissanceProduit)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Respect des process de travail:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.envergure, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.envergure, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.respectProcess, list5, @Model.respectProcess)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Pertinence de la réponse:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.complétudeQuestions, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.complétudeQuestions, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.pertinenceReponse, list6, @Model.pertinenceReponse)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">FCR:</label>
                                    <div class="col-md-8">                                        
                                        @Html.DropDownListFor(model => model.FCR, list10, @Model.FCR)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Autonomie:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.confirmationIntervenants, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.confirmationIntervenants, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.autonomie, list2, @Model.autonomie)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Approche Commerciale:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.enchainementQuestions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.enchainementQuestions, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.approcheCommerciale, list7, @Model.approcheCommerciale)
                                    </div>
                                </div>
                                 
                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Discours/empathie/attitude:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.traitementObjections, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.traitementObjections, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.discours, list8, @Model.discours)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Prise de congé:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.reformulation, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.reformulation, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.priseConge, list1, @Model.priseConge)

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Identification du client CRM:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.transcriptionsInformations, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.transcriptionsInformations, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.identificationClient, list9, @Model.identificationClient)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4" style="font-weight:bold;">Qualification des demandes sur CRM:</label>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.codesAppropriés, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.codesAppropriés, "", new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(model => model.qualificationDemande, list9, @Model.qualificationDemande)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="font-weight:bold;">Commentaire Responsable Qualité:</label>
                            <div class="input-group col-md-12">
                                @Html.EditorFor(model => model.commentaireQualite, new { htmlAttributes = new { @class = "form-control", @placeholder = "Message récue de la part du responsable qualité", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.commentaireQualite, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="font-weight:bold;">Votre réponse:</label>
                            <div class="input-group col-md-12">
                                @Html.EditorFor(model => model.commentaireAgent, new { htmlAttributes = new { @class = "form-control", @placeholder = "Entrer votre réponse", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.commentaireAgent, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" hidden>
                            @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.type, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" hidden>
                            @Html.LabelFor(model => model.enregistrementUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.enregistrementUrl, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.enregistrementUrl, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" hidden>
                            @Html.LabelFor(model => model.enregistrementDirectory, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.enregistrementDirectory, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.enregistrementDirectory, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" hidden>
                            @Html.LabelFor(model => model.senderId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.senderId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.senderId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <center>
                            <div class="form-group">
                                <div class="text-lg-center">
                                    @*<button type="submit" value="Save" class="btn btn-primary">Sauvegarder <i class="icon-arrow-right14 position-fixed"></i></button>*@
                                    <button type="submit" class="btn btn-success btn-float btn-rounded"><i class="icon-database-edit2"></i></button>
                                </div>
                            </div>
                        </center>

                    </div>

                </div>
            </div>
        </div>
                            }
    <script>
        $('#datePicker')
               .daterangepicker({
                   singleDatePicker: true,
                   locale: {
                       setDate: new Date(),
                       format: 'YYYY/MM/DD'
                   },
                   autoclose: true,
               })
               .on('changeDate', function (e) {
                   $('#datepicker').hide();
               });

    </script>

}
@section testProfile{

    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src=@ViewBag.empConnectedImage alt="">
        <span>@ViewBag.nameEmpConnected</span>
        <i class="caret"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">

        <li><a href="@Url.Action("logout", "Authentification")"><i class="icon-switch2"></i> Logout</a></li>
    </ul>
}
@section sidebarProfile{

    <a href="#" class="media-left"><img src=@ViewBag.empConnectedImage class="img-circle img-sm" alt=""></a>
    <div class="media-body">
        <span class="media-heading text-semibold">@ViewBag.nameEmpConnected</span>
        <div class="text-size-mini text-muted">
            <i class="icon-user text-size-small"></i> &nbsp;@ViewBag.pseudoNameEmpConnected
        </div>
    </div>
    <div class="media-right media-middle">

    </div>
}
@section pagetitle{
    <h4> <span class="text-semibold">Espace Agent</span> -  Historique des Evaluations</h4>
}
@section pagetitlebody {
    <li class="text-semibold"> <b>Historique Evaluations Front Office SC GISI</b></li>
    <li> Modifier l'Evaluation </li>
}