@model MVCWEB.Models.EvaluationViewModel

@if (ViewBag.role == "Qualité")
{
    ViewBag.Title = "Reab2WithoutAgent";

    Layout = "~/Views/Shared/_Layout_Qualite.cshtml";
}
@if (ViewBag.role == "Agent Qualité_Diffusion")
{
    ViewBag.Title = "Reab2WithoutAgent";

    Layout = "~/Views/Shared/_Layout_Diffusion.cshtml";
}
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />

@section test{
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js" charset="utf-8"></script>

    <script type='text/javascript'>
        //$.fn.datetimepicker.dates['fr'] = {
        //    days: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
        //    daysShort: ["Dim", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
        //    daysMin: ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa", "Su"],
        //    months: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        //    monthsShort: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        //    today: "Today"
        //};
		$( document ).ready(function() {
		    $('#planDate').datetimepicker({

		        format: 'YYYY-MM-DD HH:mm',
		        daysOfWeekDisabled: [0, 6],



		    });
		});

    </script>
    @*<script>
            $("#planDate").AnyTime_picker({
            format: "%M %D %H:%i",
            });
        </script>*@


    @*@using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()*@


    <div class="form-horizontal">
        <div class="row">

            <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"> <b>Nom Complet d'enregistrement</b></font></h6>
            <div class="col-xs-8 date">
                @Html.EditorFor(model => model.enregistrementFullName, new { htmlAttributes = new { @class = "form-control", @id = "listen", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.enregistrementFullName, "", new { @class = "text-danger" })
            </div>
            <div class="col-xs-4 date" hidden>
                @Html.EditorFor(model => model.enregistrementUrl, new { htmlAttributes = new { @class = "form-control", @id = "listen2" } })
                @Html.ValidationMessageFor(model => model.enregistrementUrl, "", new { @class = "text-danger" })
            </div>
            <div class="col-xs-4 date" hidden>
                @Html.EditorFor(model => model.enregistrementDirectory, new { htmlAttributes = new { @class = "form-control", @id = "listen3" } })
                @Html.ValidationMessageFor(model => model.enregistrementDirectory, "", new { @class = "text-danger" })
            </div>

        </div>
    </div>


    <div class="row">
        <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"> <b>Date et temps d'évaluation</b></font></h6>
        <div class="col-xs-4 date" style="width:25%">
            <div class="input-group input-append date">
                <input type='text' id='planDate' name="planDate" class="form-control" value="01/06/2018 08:00" lang="fr" style="min-width: 100%" />
                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>


<div class="row">
    <div class="col-1">
        <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"><b>Nom Agent:</b></font></h6>
        <div class="col-xs-4">
            @*@Html.DropDownList("typeGenerator", Model.agents, htmlAttributes: new { @class = "bootstrap-select", @id = "typeGenerator", @name = "typeGenerator", style = "data-width: 360px;", selected = "selected" })
            @Html.ValidationMessageFor(model => model.agents, "", new { @class = "text-danger" })*@

            @Html.EditorFor(model => model.agentName, new { htmlAttributes = new { @class = "form-control", @id = "typeGenerator", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.agentName, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-1">
            <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"><b>type:</b></font></h6>
            <div class="col-xs-4">
                <select id="activite" class="bootstrap-select">
                    <option>---Select---</option>
                    <option class="Reab">Reab</option>
                    <option value="Promo">Promo</option>
                </select>

                @*@Html.DropDownList("SelectedItem", Model.listItems, "-----Select----")*@
            </div>
        </div>
    </div>
    <div class="row" id="acceuilRow" hidden>
        <div class="col-1">
            <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"><b>Acceuil / Présentation</b></font></h6>

            <div class="col-xs-4">
                <select class="bootstrap-select" id="acceuil" name="acceuil" style="height: 25px;">

                    <option value="10">OK</option>
                    <option value="0">KO</option>


                </select>
            </div>
        </div>
    </div>
    @*</div>*@
    <br />
    <div class="row" id="objetAppelRow" hidden>
        <div class="col-1">
            <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"><b>Objet de L'appel</b></font></h6>
            <div class="col-xs-4">
                <select class="bootstrap-select" id="objetAppel" name="objetAppel" style="height: 35px;">

                    <option value="15">OK</option>
                    <option value="0">KO</option>


                </select>
            </div>
        </div>
    </div>
    <br />
    <div class="row" id="decouverteRow" hidden>
        <div class="col-1">
            <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"><b>Découverte des besoins</b> </font> </h6>
            <div class="col-xs-4">
                <select class="bootstrap-select" id="decouverte" name="decouverte" style="height: 45px;">

                    <option value="20">OK</option>
                    <option value="0">KO</option>
                    <option value="10">AA</option>
                    <option value="20">NE</option>

                </select>
            </div>
        </div>
    </div>
    <div class="row" id="presentation2Row" hidden>
        <div class="col-1">
            <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"><b>Présentation et Propostion de l'offre</b> </font> </h6>
            <div class="col-xs-4">
                <select class="bootstrap-select" id="presentation2" name="presentation2" style="height: 45px;">

                    <option value="25">OK</option>
                    <option value="0">KO</option>
                    <option value="12.5">AA</option>
                    <option value="25">NE</option>

                </select>
            </div>
        </div>
    </div>
    <div class="row" id="presentationRow" hidden>
        <div class="col-1">
            <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"><b>Présentation de l'offre / valider  la satisfaction client</b> </font> </h6>
            <div class="col-xs-4">
                <select class="bootstrap-select" id="presentation" name="presentation" style="height: 45px;">

                    <option value="20">OK</option>
                    <option value="0">KO</option>
                    <option value="10">AA</option>
                    <option value="20">NE</option>

                </select>
            </div>
        </div>
    </div>
    <div class="row" id="objectionsRow" hidden>
        <div class="col-1">
            <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"><b>Gestion des objections</b></font> </h6>
            <div class="col-xs-4">
                <select class="bootstrap-select" id="objections" name="objections" style="height: 45px;">

                    <option value="30">OK</option>
                    <option value="0">KO</option>
                    <option value="15">AA</option>
                    <option value="30">NE</option>

                </select>
            </div>
        </div>
    </div>
    <div class="row" id="conclusionRow" hidden>
        <div class="col-1">
            <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"><b>Verrouillage et conclusion du contact</b></font></h6>
            <div class="col-xs-4">
                <select class="bootstrap-select" id="conclusion" name="conclusion" style="height: 45px;">

                    <option value="30">OK</option>
                    <option value="0">KO</option>
                    <option value="15">AA</option>

                </select>
            </div>
        </div>
    </div>
    <div class="row" id="crossRow" hidden>
        <div class="col-1">
            <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"><b>Proposition Cross</b></font></h6>
            <div class="col-xs-4">
                <select class="bootstrap-select" id="cross" name="cross" style="height: 45px;">

                    <option value="25">OK</option>
                    <option value="0">KO</option>
                    <option value="12.5">AA</option>
                    <option value="25">NE</option>

                </select>
            </div>
        </div>
    </div>
    <div class="row" id="discoursRow" hidden>
        <div class="col-1">
            <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"><b>Discours</b></font></h6>
            <div class="col-xs-4">
                <select class="bootstrap-select" id="discours" name="discours" style="height: 45px;">

                    <option value="15">OK</option>
                    <option value="0">KO</option>
                    <option value="7.5">AA</option>

                </select>
            </div>
        </div>
    </div>
    <div class="row" id="attitudeRow" hidden>
        <div class="col-1">
            <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"><b>Attitude</b></font></h6>
            <div class="col-xs-4">
                <select class="bootstrap-select" id="attitude" name="attitude" style="height: 45px;">

                    <option value="10">OK</option>
                    <option value="0">KO</option>
                    <option value="5">AA</option>

                </select>
            </div>
        </div>
    </div>
    <div class="row" id="congeRow" hidden>
        <div class="col-1">
            <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"><b>Prise de congé</b></font></h6>
            <div class="col-xs-4">
                <select class="bootstrap-select" id="conge" name="conge" style="height: 45px;">

                    <option value="10">OK</option>
                    <option value="0">KO</option>


                </select>
            </div>
        </div>
    </div>
    <br />
    <div class="row" id="commentaireRow" hidden>
        <div class="col-xs-10">
            <div class="form-group">
                <h6 style="width:25%" class="col-xs-1 control-label"><font color="black"><b>Commentaire</b></font></h6>
                <textarea id="description" name="description" rows="5" cols="5" class="form-control" placeholder="Entrer votre commentaire"></textarea>
            </div>
        </div>
    </div>
    <br /><br />
    <center>
        <div class="text-md-center" id="imedSaveRow" hidden>
            <button type="submit" id="imedCalcul" class="btn bg-teal-400" data-toggle="modal">Evaluer Enregistrement <i class="icon-check position-fixed"></i></button>
            <button type="submit" id="imedSave" class="btn bg-danger-400" data-title="Sauvegarder Alerte">Sauvegarder et Envoyer Mail <i class="icon-arrow-right14 position-fixed"></i></button>

        </div>
        <div class="text-md-center" id="imedSaveRow2" hidden>
            <button type="submit" id="imedCalcul2" class="btn bg-teal-400" data-toggle="modal">Evaluer Enregistrement <i class="icon-check position-fixed"></i></button>
            <button type="submit" id="imedSave2" class="btn bg-danger-400" data-title="Sauvegarder Alerte">Sauvegarder et Envoyer Mail <i class="icon-arrow-right14 position-fixed"></i></button>
        </div>
    </center>
    <div id="view"></div>
    <br /><br />
    @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@

    <script>
        $('#datePicker')
               .daterangepicker({
                   singleDatePicker: true,
                   autoApply: true,
                   opens: 'left',

                   locale: {
                       setDate: new Date(),
                       format: 'DD/MM/YYYY hh:mm:ss',
                       "daysOfWeek": [
            "Dim",
            "Lun",
            "Mar",
            "Mer",
            "Jeu",
            "Ven",
            "Sam"
                       ],
                       "monthNames": [
                           "Jan",
                           "Fev",
                           "Mar",
                           "Avr",
                           "Mai",
                           "Ju",
                           "Jui",
                           "Aou",
                           "Sep",
                           "Oct",
                           "Nov",
                           "December"
                       ],
                   },
                   lan: 'fr',
                   autoclose: true,
               })
               .on('changeDate', function (e) {
                   $('#datepicker').hide();
               });

    </script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#activite").change(function () {
            if (($("#activite option:selected").text() === "Reab")) {
                $("#acceuilRow").show();
                $("#objetAppelRow").show();
                $("#presentationRow").show();
                $("#objectionsRow").show();
                $("#conclusionRow").show();
                $("#crossRow").show();
                $("#discoursRow").show();
                $("#attitudeRow").show();
                $("#congeRow").show();
                $("#imedSaveRow").show();
                $("#presentation2Row").hide();
                $("#decouverteRow").hide();
                $("#imedSaveRow2").hide();
                $("#commentaireRow").show();

            }
            else if (($("#activite option:selected").text() === "Promo"))
            {
                $("#acceuilRow").show();
                $("#objetAppelRow").show();
                $("#presentation2Row").show();
                $("#objectionsRow").show();
                $("#conclusionRow").show();
                $("#crossRow").show();
                $("#discoursRow").show();
                $("#attitudeRow").show();
                $("#congeRow").show();
                $("#imedSaveRow2").show();
                $("#decouverteRow").show();
                $("#imedSaveRow").hide();
                $("#presentationRow").hide();
                $("#commentaireRow").show();

            }
            else{
                $("#acceuilRow").hide();
                $("#objetAppelRow").hide();
                $("#presentation2Row").hide();
                $("#objectionsRow").hide();
                $("#conclusionRow").hide();
                $("#crossRow").hide();
                $("#discoursRow").hide();
                $("#attitudeRow").hide();
                $("#congeRow").hide();
                $("#imedSaveRow2").hide();
                $("#decouverteRow").hide();
                $("#imedSaveRow").hide();
                $("#presentationRow").hide();
                $("#commentaireRow").hide();
                }
        })
    });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(document).on("click", "#imedSave", function () {

                $.ajax({
                    url: '/Evaluation/PostReab2',
                    type: 'GET',
                    datatype: 'json',
                    data: {
                         username : $("#typeGenerator").val(),
                         acceuil : $("#acceuil").val(),
                         objetAppel : $("#objetAppel").val(),
                         decouverte : $("#decouverte").val(),
                         presentation : $("#presentation").val(),
                         objections : $("#objections").val(),
                         conclusion : $("#conclusion").val(),
                         cross : $("#cross").val(),
                         discours : $("#discours").val(),
                         attitude : $("#attitude").val(),
                         conge : $("#conge").val(),
                         dateTest: $("#planDate").val(),
                         description:$("#description").val(),
                         enregistrement: $("#listen").val(),
                         enregistrementUrl: $("#listen2").val(),
                         enregistrementDirectory: $("#listen3").val()
                    },
                    async: true,
                    success: function (data) {
                        $('#view').html(data);
                        $('#EnvoiMailResult').modal('show');


                    },

                });
            })
        })

        $(document).ready(function () {
            $(document).on("click", "#imedCalcul", function () {

                $.ajax({
                    url: '/Evaluation/PostReabCalcul2',
                    type: 'GET',
                    datatype: 'json',
                    data: {
                        username: $("#typeGenerator").val(),
                        acceuil: $("#acceuil").val(),
                        objetAppel: $("#objetAppel").val(),
                        decouverte: $("#decouverte").val(),
                        presentation: $("#presentation").val(),
                        objections: $("#objections").val(),
                        conclusion: $("#conclusion").val(),
                        cross: $("#cross").val(),
                        discours: $("#discours").val(),
                        attitude: $("#attitude").val(),
                        conge: $("#conge").val(),
                        dateTest: $("#planDate").val(),
                        description: $("#description").val(),
                        enregistrement: $("#listen").val(),
                        enregistrementUrl: $("#listen2").val(),
                        enregistrementDirectory: $("#listen3").val()
                    },
                    async: true,
                    success: function (data) {
                        $('#view').html(data);
                        $('#Result').modal('show');


                    },

                });
            })
        })

    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(document).on("click", "#imedSave2", function () {
                $.ajax({
                    url: '/Evaluation/PostPromo2',
                    type: 'POST',
                    datatype: 'json',
                    data: {
                         username : $("#typeGenerator").val(),
                         acceuil : $("#acceuil").val(),
                         objetAppel : $("#objetAppel").val(),
                         decouverte : $("#decouverte").val(),
                         presentation : $("#presentation2").val(),
                         objections : $("#objections").val(),
                         conclusion : $("#conclusion").val(),
                         cross : $("#cross").val(),
                         discours : $("#discours").val(),
                         attitude : $("#attitude").val(),
                         conge : $("#conge").val(),
                         dateTest: $("#planDate").val(),
                         description:$("#description").val(),
                         enregistrement: $("#listen").val(),
                         enregistrementUrl: $("#listen2").val(),
                         enregistrementDirectory: $("#listen3").val()

                    },
                    async: true,
                    success: function (data) {
                        $('#view').html(data);
                        $('#EnvoiMailResult2').modal('show');


                        //alert("utilisateur"+" "+$("#typeGenerator").val()+" "+""+ $("#datePicker").val())
                    },
                });
            })
        })

        $(document).ready(function () {
            $(document).on("click", "#imedCalcul2", function () {
                $.ajax({
                    url: '/Evaluation/PostPromoCalcul2',
                    type: 'POST',
                    datatype: 'json',
                    data: {
                        username: $("#typeGenerator").val(),
                        acceuil: $("#acceuil").val(),
                        objetAppel: $("#objetAppel").val(),
                        decouverte: $("#decouverte").val(),
                        presentation: $("#presentation2").val(),
                        objections: $("#objections").val(),
                        conclusion: $("#conclusion").val(),
                        cross: $("#cross").val(),
                        discours: $("#discours").val(),
                        attitude: $("#attitude").val(),
                        conge: $("#conge").val(),
                        dateTest: $("#planDate").val(),
                        description: $("#description").val(),
                        enregistrement: $("#listen").val(),
                        enregistrementUrl: $("#listen2").val(),
                        enregistrementDirectory: $("#listen3").val()

                    },
                    async: true,
                    success: function (data) {
                        $('#view').html(data);
                        $('#Result2').modal('show');


                        //alert("utilisateur"+" "+$("#typeGenerator").val()+" "+""+ $("#datePicker").val())
                    },
                });
            })
        })
    </script>
}



@section testProfile{

    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src=@Model.Url alt="">
        <span>@Model.userName</span>
        <i class="caret"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">

        <li><a href="@Url.Action("logout", "Authentification")"><i class="icon-switch2"></i> Logout</a></li>
    </ul>
}
@section sidebarProfile{

    <a href="#" class="media-left"><img src=@Model.Url class="img-circle img-sm" alt=""></a>
    <div class="media-body">
        <span class="media-heading text-semibold">@Model.userName</span>
        <div class="text-size-mini text-muted">
            <i class="icon-user text-size-small"></i> &nbsp;@Model.pseudoNameEmp
        </div>
    </div>
    <div class="media-right media-middle">

    </div>
}
@section pagetitle{
    <h4> <span class="text-semibold">Espace Qualité</span> -  Grille d'évaluation</h4>
}
@section pagetitlebody{
    <li><a href="#"><i class="icon-home2 position-left"></i> Grille d'évaluation</a></li>
    <li class="active">Reab / Promo par Nom Enregistrement</li>
}